/* about banner starts */
section.about-banner{
    height: 100vh;
}
.ab-banner-in{
    height: 100%;
    display: flex;
    align-items: center;
}
.inner-about-banner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 100px;
}
.ab-banner-top h2{
    font-family: "Inter", sans-serif;
    font-size: 66px;
    font-weight: 400;
    line-height: 66px;
    letter-spacing: -0.05em;
  color:#90B180; 
}
.ab-banner-top h1{
    font-family: 'Gambarino-Regular';
    font-size: 144px;
    font-weight: 400;
    line-height: 151.2px;
    letter-spacing: -0.03em; 
}
.ab-banner-bottom p{
    max-width: 55ch;
line-height: 27px;
letter-spacing: 0.02em;
}
.ab-banner-top{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 10px;
}
/* about banner ends */
/* approach section starts */
.inner-approach{ 
    display: flex;
    flex-direction: column;
    row-gap: 10px; 
}
.approach-in{
    background:#F8F8F1;
    padding: 40px 0;
}
.app-top-right p{
font-size: 24px;
font-weight: 400;
line-height: 34.8px;
letter-spacing: -0.03em;
color:#929276;
max-width: 38ch;
}
.app-top-left{
    color:#739761;
    text-transform: uppercase;
}
.approach-top{
    display: flex;
    justify-content: space-between;
}
.appimg{
    position: relative;
    padding-top: 70%;
}
.appimg img{
    width:100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
    position: absolute;
    inset: 0;
}
.approach-bottom{
    width: 45%;
    margin-right: auto;
}
/* approach section ends */
/* founders section starts */
.ft-right p{
    color:#6B6B6B;
    max-width: 70ch;
}
.founders-top{
    display: flex;
    justify-content: space-between;
}
.light-blue{
    background-color: #DCEAF8;
}
.peach{
    background-color: #F4EAE5;
}
.founder-img{
    position: relative;
    padding-top: 100%;
}
.founder-img img{
    width:100%;
    height:100%;
    object-fit: cover;
    position: absolute;
    inset: 0;
}
.founder-left , .founder-right{
    width:50%;
}
.inner-founders{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 164px;
}
.founder-description{
    padding: 30px 32px 34px 32px;
    width: 40%;
}
.founder-description p{
    color:#555555;
}
.founder1 {
    display: flex;
    width: 68%;
    margin-right: auto;
    align-items: flex-start;
}
.founder2 {
    width: 68%;
    margin-left: auto;
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    top: 0;
    right: 0;
}
.founders-bottom{
    position: relative;
}
.founder-name{
    padding:30px 0;
    padding-left: 16px;
    padding-right: 48px;
    position: absolute;
}
.designation{
    padding: 16px 24px;
    position: absolute;
    font-size: 16px;
}
.founder-name.light-blue{
    top: 0;
    right: -1px;
}
.designation.light-blue{ 
    bottom: 0;
    left: 0;
    color:#5F7589;
    background-color:#BCD7F0;
}
.founder-name.peach{
    bottom: 0;
    left: 0;
}
.designation.peach{
    top: 0;
    right: -1px;
    color:#9C8377;
    background-color: #F3E0D7;
}
.founder-name .statement1{
    color:#121212;
}
.founder-name .label3{
    text-transform: uppercase;
}
.founder-name.light-blue .label3{
    color:#5F7589;
}
.founder-name.peach .label3{
    color:#9C8377;
}
/* founders section ends */
/* mission section starts */
.mission-left{
    width:100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.mission-right{
    width:40%;
    margin-left: auto;
    position: relative;
}
.mission-img{
    position: relative;
    padding-top: 90%;
}
.mission-img img{
    width:100%;
    height:100%;
    object-fit: cover;
    position: absolute;
    inset:0;
}
.mission-in{
    position: relative;
}
.mi-head{
    color:#BFBFBF;
    text-transform: uppercase;
}
.mi-content{
    color:#121212;
    max-width: 35ch;
}
.mission-bottom p{
    color:#6B6B6B;
    max-width: 59ch;
}
.mission-top{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 39px;
}
.inner-mission{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 160px;
     width: 60%;
    margin-right: auto; 
}
/* mission section ends */
/* explore section starts */
.inner-explore{
    background-color: #013F27;
    padding: 112px 0;
}
.explore-head {
    color: #4DCC9C;
    text-transform: uppercase;
}
.explore-content p{
    color: #BDCAC5;
    max-width: 28ch;
}
.reason-no h3{
    color:#7BA494;
}
.reason-que h3{
    color:#FCFCFA;
}
.reason-ans p{
    color: #B6D7CA;
    max-width: 44ch;
}
 .explore-in{
    display: flex;
    flex-direction: column;
    gap: 56px;
} 
.explore-bottom{
    display: flex;
    justify-content: space-between;
}
.reason-content{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.reason{
    display: flex;
    gap: 17px;
    padding-bottom: 56px;
    border-bottom: 1px solid #0F5439;
}
.explore-reasons .reason:last-child {
    border-bottom: none;
  }
.explore-reasons{
    display: flex;
    flex-direction: column;
    gap: 56px;
    padding-top: 100px;
}
/* explore section ends */
section.impact .acc-top{
    color: #C7C4BA;
}
/* donate section starts */
.donate-in{
    background-color: #D9E3D4;
}
.donate-content p{
    color: #013F27;
    max-width: 33ch;
    text-align: center;
}
.inner-donate{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 62px;
    padding-top: 101px;
    padding-bottom: 93px;
}
/* donate section ends */
/* solution banner starts */
.sol-inner-ban{
    height: 100%;
    display: flex;
    align-items: center;
}  
.sol-ban-head h1{
font-family: 'Gambarino-Regular';
font-size:  clamp(68px, 6vw, 96px);
font-weight: 400;
line-height: 100.8px;
color:#212121;
text-transform: capitalize;
max-width: 15ch;
}
.sol-ban-head h1 span{
font-family: 'Gambarino-Regular';
font-size: clamp(68px, 6vw, 96px);
font-weight: 400;
line-height: 100.8px;
color:#90B180;
}
.sol-ban-bottom p{
    color:#6B6B6B;
    max-width: 45ch;
}
section.solution-banner{
    height: 100vh;
    min-height: 700px;
}
.sol-ban-left{
    display: flex;
    flex-direction: column;
    row-gap: 130px;
    justify-content: space-between;
}
.sol-ban{
    display: flex;
    height: 100%;
    justify-content: space-between;
}
.sol-ban-bottom{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 44px;
}
.sol-ban-right{
    align-self: end;
    max-width: 43ch;
    text-align: right;
}
/* solution banner ends */
/* benefits section starts */
.benefits-label{
    color:#BFBFBF;
}
.benefits-content p{
font-size: 26px;
font-weight: 400;
line-height: 33.8px;
letter-spacing: 0.01em;
color:#4C4949;
max-width: 50ch;
}
.benefits-head{
    display: flex;
    flex-direction: column;
    gap: 39px;
}
.bb-line{
    border: 1px solid #034A2F;
    width: 1px;
    height: 680px;
}
.inner-benefits{
    row-gap: 195px;
    display: flex;
    flex-direction: column;
}
.benefits-bottom{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.bb-right-head h1{
    text-transform: capitalize;
    color: #393939;
    max-width: 20ch;
}
.benefit-centre p{
    color: #676A6C;
    max-width: 23ch;
}
.benefit-no , .usp{
    color: #C2C2C2;
    text-transform: uppercase;
}
.benefit-top{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.benefit-bottom{
    display: flex;
    justify-content: space-between;
}
.benefit{
    display: flex;
    gap: 56px;
    flex-direction: column;
    padding-bottom: 16px;
    border-bottom: 1px solid #E6E2DA;
}
.bb-right-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 74px;
    row-gap: 110px;
}
.bb-right{
    display: flex;
    flex-direction: column;
    gap: 56px;
}
.bb-left{
    position: relative;
}
.bb-circle{
    display: flex;
    align-items: center;
    gap: 8px;
    position: sticky;
    top: 80px;
    margin-left: -11px;
}
.bb-ellipse{
    border-radius: 50%;
    border: 1px solid transparent;
    background: #034A2F;
    width: 24px;
    height: 24px;
}
.bb-text{
    color:#034A2F;
    text-transform: uppercase;
}
/* benefits section ends */
/* education courses */
.bg-blue{
background-color:#A9C2E5 ;
}
.bg-green{
background-color: #034A2F;
}
.bg-green.edu-in{
    margin-top:80px;
}
.inner-edu{
    padding-top: 93px;
    padding-bottom: 120px;
    display: flex;
    row-gap: 80px;
    flex-direction: column;
}
.bg-green.edu-in .edu-head h2{
    color: #FAF9F7;
    max-width: 20ch;
}
.num{
font-family: "Instrument Sans", sans-serif;
font-size: 27px;
font-weight: 400;
line-height: 28.08px;
letter-spacing: -0.03em;
}
.bg-green.edu-in .number1{
    color:#FAF9F7;
}
.bg-green.edu-in .number2{
    color:#19694A;
}
.edu-top{
    display: flex;
    justify-content: space-between;
}
.edu-numbers{
    display: flex;
    gap: 22px;
}
.bg-green.edu-in .eb-left{
    color: #37B34A;
}
.bg-green.edu-in .eb-right{
    color: #D6E3DE;
    max-width: 45ch;
}
.edu-bottom{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.light-blue.edu-in .edu-head h2{
    color: #121212;
    max-width: 12ch;
}
.light-blue.edu-in .number1{
    color:#BDCEDE;
}
.light-blue.edu-in .number2{
    color:#121212;
}
.light-blue.edu-in .eb-left{
    color: #5886B4;
}
.light-blue.edu-in .eb-right{
    color: #5E7287;
    max-width: 45ch;
}
/* education courses */
/* plan section starts */
.plan-heading h1{
    text-transform: capitalize;
    max-width: 15ch;
}
.plan-in{
    padding-top: 128px;
    padding-bottom: 120px;
}
.plan-left{
    display: flex;
    flex-direction: column;
    row-gap: 61px;
    width: 35%;
    margin-right: auto;
}
.inner-plan-right{
    display: flex;
    align-items: stretch;
    column-gap: 13px;
}
.plan-right{
    width: 55%;
    margin-left: auto;
}
.inner-plan-right .sbbr-left{
    width: 100%;
    row-gap: 24px;
}
.read a{
    text-transform: uppercase;
font-size: 10px;
font-weight: 600;
line-height: 10.4px;
letter-spacing: 0.1em;
color:#034A2F;
border-bottom: 1px solid #034A2F;
padding-bottom: 2px;
}
.readmore-mob{
    display: none;
}
.inner-plan{
    display: flex;
}
.plan-r-left{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    height: 100%;
    row-gap: 20px;
    width: 50%;
    justify-content: space-between;
}
.plan-r-right{
    width:50%;
}
/* plan section ends */
/* green accomplishment */
.bg-green .acc-top {
    color: #228F65;
}
.bg-green .acctop {
    color:#F4F2EC;
}
.bg-green .acctop span{
    color:#F4F2EC;
}
.bg-green .accbottom {
    color:#F4F2EC;
}
/* green accomplishment */
/* blue accomplishment */
.light-blue .acc-top {
    color: #93B2D1;
}
.light-blue .acctop {
    color:#121212;
}
.light-blue .acctop span{
    color:#121212;
}
.light-blue .accbottom {
    color:#121212;
}
/* blue accomplishment */
/* blue footer */
.foot-label p{
    color:#FAF9F7;
}
.inner-bfooter .custom-button{
    border:1px solid transparent;
    margin-left: 47px;
}
.inner-bfooter{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}
.blue-footer{
    position: sticky;
    bottom:0;
}
.green-footer{
    position: sticky;
    bottom:0;
}
/* blue footer */








/* Responsive Css Starts */
/* Max Width 1800px */
@media(max-width: 1800px){
}
/* Max Width 1800px Ends */
/* Max Width 1700px */
@media(max-width: 1700px){
}
/* Max Width 1700px Ends */
/* Max Width 1600px */
@media(max-width: 1600px){
}
/* Max Width 1600px Ends */
/* Max Width 1500px */
@media(max-width: 1500px){
}
/* Max Width 1500px Ends */
/* Max Width 1400px */
@media(max-width: 1400px){
}
/* Max Width 1400px Ends */
/* Max Width 1300px */
@media(max-width: 1300px){
}
/* Max Width 1300px Ends */
/* Max Width 1200px */
@media(max-width: 1200px){
    .founder-name {
        padding: 16px 7px 16px 8px;
    }
    .designation {
        padding: 12px;
    }
}
/* Max Width 1200px Ends */
/* Max Width 1100px */
@media(max-width: 1100px){
    .inner-mission {
        gap:125px;
    }
    .founder1 {
        width: 100%;
        /* align-items: stretch; */
    }
    .founder2 {
        /* flex-direction: row-reverse; */
        /* align-items: stretch; */
        width: 100%;
        position: relative;
        margin-top: 50px;
    }
    .founders-top {
        flex-direction: column;
        row-gap: 28px;
    }
    .founder-img {
        padding-top: 85%;
    }
}
/* Max Width 1100px Ends */
/* Max Width 991px */
@media(max-width: 992px){
    .approach-top {
        flex-direction: column;
        row-gap: 98px;
    }
    .app-top-right {
        width: 100%;
    }
    .approach-bottom {
        width: 100%;
    }
    .inner-approach {
        row-gap: 120px;
    }
    
    .ab-banner-top h1 {
        font-size: 80px;
        line-height: 78px;
    }
    .mission-left {
        width: 100%;
        position: relative;
    }
    .inner-mission {
        gap: 100px;
    }
    .mission-right {
        width: 100%;
        margin-top: 56px;
    }
    .mission-img {
        padding-top: 70%;
    }
    .explore-bottom {
        flex-direction: column;
    }
    section.about-banner{
        height: 600px;
    }
    .sol-ban {
        flex-direction: column;
        row-gap: 92px;
    }
    .sol-ban-right{
        margin-bottom: 50px;
    }
    .sol-ban-left {
        row-gap: 48px;
    }
    .inner-benefits {
        row-gap: 82px;
    }
    .bb-left {
        display: none;
    }
    .benefits-bottom {
        display: block;
    }
    .edu-bottom {
        align-items: flex-start;
        flex-direction: column;
        row-gap: 40px;
    }
    .inner-edu {
        row-gap: 100px;
    }
    .inner-plan {
        flex-direction: column;
        row-gap: 80px;
    }
    .plan-right {
        width: 100%;
        order: -1;
        display: flex;
        flex-direction: column;
        row-gap: 32px;
    }
    .plan-left {
        width:100%;
    }
    .readmore{
        display: none;
    }
    .readmore-mob{
        display: block;
    }
}
/* Max Width 991px Ends */
/* Max Width 767px */
@media(max-width: 767px){
    .ab-banner-top h2{
        font-size: 50px;
        line-height: 55px; 
    }
    .ab-banner-top h1{
        font-size: 80px;      
        line-height: 78px;
    } 
    .statement1{
font-size: 14px;
line-height: 18.2px;
    }
    .body2{
font-size: 16px;
line-height: 24px;
    }
    .app-top-right p {
font-size: 17px;
line-height: 22.1px;
    }
    .inner-approach {
        padding: 60px 16px;
    }
    .founder-description{
        padding: 20px 16px 38px 16px;
        width:50%;
    }
    .pf-left-top h2{
font-size: 48px;
line-height: 49.44px;
letter-spacing: -0.05em;
    }
    .founder1 {
         align-items: stretch; 
    }
    .founder2 {
         /* flex-direction: row-reverse;  */
         align-items: stretch; 
    }
    .benefits-content p {
        font-size: 20px;
        line-height: 26px;
    }
    .num {
        font-size: 14px;
        line-height: 15px;
    }
}
@media(max-width: 400px){
.ab-banner-top h1 {
    font-size: 63px;
}
}
/* Max Width 767px Ends */
/* Responsive Css Ends */