/* about banner starts */
section.about-banner{
    height: 100vh;
}
.ab-banner-in{
    height: 100%;
    display: flex;
    align-items: center;
}
.inner-about-banner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 100px;
}
.ab-banner-top h2{
    font-family: "Inter", sans-serif;
    font-size: clamp(26px, 8vw, 66px);
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.05em;
  color:#90B180; 
}
.ab-banner-top h1{
    font-family: 'Gambarino-Regular';
    font-size: clamp(80px, 10vw, 144px);
    font-weight: 400;
    line-height: 105%;
    letter-spacing: -0.03em; 
}
.ab-banner-bottom p{
    max-width: 55ch;
line-height: 27px;
letter-spacing: 0.02em;
}
.ab-banner-top{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 10px;
}
/* about banner ends */
/* approach section starts */
.inner-approach{ 
    display: flex;
    flex-direction: column;
    row-gap: 10px; 
}
.approach-in{
    background:#F8F8F1;
    padding: 40px 0;
}
.app-top-right p{
font-size: 24px;
font-weight: 400;
line-height: 34.8px;
letter-spacing: -0.03em;
color:#929276;
max-width: 38ch;
}
.app-top-left{
    color:#739761;
    text-transform: uppercase;
    clip-path: inset(0 100% 0% 0%);
    transition: 1s clip-path ease;
    transition-delay: 0.3s;
}
.app-top-right {
    clip-path: inset(0 0 0% 100%);
    transition: 1s clip-path ease;
    transition-delay: 0.3s;
}
.was-in-viewport .app-top-left,
.was-in-viewport .app-top-right ,
.was-in-viewport .appimg,
.was-in-viewport .founder-description,
.was-in-viewport .mission-right,
.was-in-viewport .inner-mission,
.was-in-viewport .edu-top,
.was-in-viewport .eb-left,
.was-in-viewport .eb-right,
.was-in-viewport .plan-left,
.was-in-viewport .module-top,
.was-in-viewport .module1 ,
.was-in-viewport .fo,
.was-in-viewport .courses
{
    clip-path: inset(0% 0% 0% 0%);
}
 .element-in-viewport .app-top-left,
 .element-in-viewport .app-top-right,
 .element-in-viewport .appimg,
 .element-in-viewport .founder-description,
 .element-in-viewport .mission-right,
 .element-in-viewport .inner-mission,
 .element-in-viewport .edu-top,
 .element-in-viewport .eb-left,
 .element-in-viewport .eb-right,
 .element-in-viewport .plan-left,
 .element-in-viewport .module-top,
 .element-in-viewport .module1,
 .element-in-viewport .fo,
 .element-in-viewport .courses
 {
    clip-path: inset(0% 0% 0% 0%);
 } 
 .in-viewport .app-top-left,
 .in-viewport .app-top-right,
 .in-viewport .appimg,
 .in-viewport .founder-description,
 .in-viewport .mission-right,
 .in-viewport .inner-mission,
 .in-viewport .edu-top,
 .in-viewport .eb-left,
 .in-viewport .eb-right,
 .in-viewport .plan-left,
 .in-viewport .module-top,
 .in-viewport .module1,
 .in-viewport .fo,
 .in-viewport .courses
 {
    clip-path: inset(0% 0% 0% 0%);
  } 
.approach-top{
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.appimg{
    position: relative;
    padding-top: 70%;
    clip-path: inset(0% 100% 0% 0%);
    transition: 1s clip-path ease;
    transition-delay: 0.3s;
}
.appimg img{
    width:100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
    position: absolute;
    inset: 0;
}
.approach-bottom{
    width: 45%;
    margin-right: auto;
    overflow: hidden;
}
/* approach section ends */
/* founders section starts */
.ft-right p{
    color:#6B6B6B;
    max-width: 70ch;
    text-wrap: pretty;
}
.founders-top{
    display: flex;
    justify-content: space-between;
}
.light-blue{
    background-color: #DCEAF8;
}
.peach{
    background-color: #F4EAE5;
}
.founder-img{
    position: relative;
    padding-top: 100%;
}
.founder-img img{
    width:100%;
    height:100%;
    object-fit: cover;
    position: absolute;
    inset: 0;
}
.founder-left , .founder-right{
    width:50%;
}
.inner-founders{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 164px;
}
.founder-description{
    padding: 30px 32px 34px 32px;
    width: 40%;
    clip-path: inset(0% 100% 0% 0%);
    transition: 1s clip-path ease;
    transition-delay: 0.3s;
}
.founder-description p{
    color:#555555;
}
.founder1 {
    display: flex;
    width: 68%;
    margin-right: auto;
    align-items: flex-start;
}
.founder2 {
    width: 68%;
    margin-left: auto;
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    top: 0;
    right: 0;
}
.founders-bottom{
    position: relative;
}
.founder-name{
    padding:30px 0;
    padding-left: 16px;
    padding-right: 48px;
    position: absolute;
}
.designation{
    padding: 16px 24px;
    position: absolute;
    font-size: 16px;
}
.founder-name.light-blue{
    top: 0px;
    right: 0px;
}
.designation.light-blue{ 
    bottom: 0;
    left: 0;
    color:#5F7589;
    background-color:#BCD7F0;
}
.founder-name.peach{
    bottom: 0;
    left: 0;
}
.designation.peach{
    top: 0;
    right: -1px;
    color:#9C8377;
    background-color: #F3E0D7;
}
.founder-name .statement1{
    color:#121212;
}
.founder-name .label3{
    text-transform: uppercase;
}
.founder-name.light-blue .label3{
    color:#5F7589;
}
.founder-name.peach .label3{
    color:#9C8377;
}
/* founders section ends */
/* mission section starts */
.mission-left{
    width:100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.mission-right{
    width:40%;
    margin-left: auto;
    position: relative;
    clip-path: inset(0 0% 0% 100%);
    transition: 1s clip-path ease; 
    transition-delay: 0.3s;
}
.mission-img{
    position: relative;
    padding-top: 90%;
}
.mission-img img{
    width:100%;
    height:100%;
    object-fit: cover;
    position: absolute;
    object-position: top;
    inset:0;
}
.mission-in{
    position: relative;
}
.mi-head{
    color:#BFBFBF;
    text-transform: uppercase;
}
.mi-content{
    color:#121212;
    max-width: 35ch;
}
.mission-bottom p{
    color:#6B6B6B;
    max-width: 59ch;
    text-wrap: pretty;
}
.mission-top{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 39px;
}
.inner-mission{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 160px;
     width: 60%;
    margin-right: auto; 
    clip-path: inset(0 100% 0% 0%);
    transition: 1s clip-path ease;
    transition-delay: 0.3s;
}
/* mission section ends */
/* explore section starts */
.inner-explore{
    background-color: #013F27;
    padding: 112px 0;
}
.explore-head {
    color: #4DCC9C;
    text-transform: uppercase;
}
.explore-content p{
    color: #BDCAC5;
    max-width: 28ch;
}
.reason-no h3{
    color:#7BA494;
}
.reason-que h3{
    color:#FCFCFA;
}
.reason-ans p{
    color: #B6D7CA;
    max-width: 44ch;
}
 .explore-in{
    display: flex;
    flex-direction: column;
    gap: 56px;
} 
.explore-bottom{
    display: flex;
    justify-content: space-between;
}
.reason-content{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.reason{
    display: flex;
    gap: 17px;
    padding-bottom: 56px;
    border-bottom: 1px solid #0F5439;
}
.explore-reasons .reason:last-child {
    border-bottom: none;
  }
.explore-reasons{
    display: flex;
    flex-direction: column;
    gap: 56px;
    padding-top: 100px;
}
/* explore section ends */
section.impact .acc-top{
    color: #C7C4BA;
}
/* donate section starts */
.donate-in{
    background-color: #D9E3D4;
}
.donate-content p{
    color: #013F27;
    max-width: 33ch;
    text-align: center;
}
.inner-donate{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 62px;
    padding-top: 101px;
    padding-bottom: 93px;
}
.donate-button a{
    padding: 11px 27px;
}
/* donate section ends */
/* solution banner starts */
.sol-inner-ban{
    height: 100vh;
    display: flex;
    align-items: center;
}  
.sol-ban-head h1{
font-family: 'Gambarino-Regular';
font-size:  clamp(68px, 6vw, 96px);
font-weight: 400;
line-height: 120%;
color:#212121;
text-transform: capitalize;
max-width: 15ch;
}
.sol-ban-head h1 span{
font-family: 'Gambarino-Regular';
font-size: clamp(68px, 6vw, 96px);
font-weight: 400;
line-height: 100.8px;
color:#90B180;
margin-left: 10px;
}
.sol-ban-bottom p{
    color:#6B6B6B;
    max-width: 45ch;
}

.sol-ban-left{
    display: flex;
    flex-direction: column;
    row-gap: 130px;
    justify-content: space-between;
}
.sol-ban{
    display: flex;
    height: 100%;
    justify-content: space-between;
    padding-top: 186px;
    padding-bottom: 83px;
}
.sol-ban-bottom{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 44px;
}
.sol-ban-right{
    align-self: end;
    max-width: 43ch;
    text-align: right;
}
/* solution banner ends */
/* benefits section starts */
.benefits-label{
    color:#BFBFBF;
}
.benefits-content p{
font-size: 26px;
font-weight: 400;
line-height: 33.8px;
letter-spacing: 0.01em;
color:#4C4949;
max-width: 50ch;
}
.benefits-head{
    display: flex;
    flex-direction: column;
    gap: 39px;
}
.bb-line{
    border: 1px solid #034A2F;
    width: 1px;
    height: 680px;
}
.inner-benefits{
    row-gap: 195px;
    display: flex;
    flex-direction: column;
}
.benefits-bottom{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.bb-right-head h1{
    text-transform: capitalize;
    color: #393939;
    max-width: 20ch;
}
.benefit-centre p{
    color: #676A6C;
    max-width: 23ch;
}
.benefit-no , .usp{
    color: #C2C2C2;
    text-transform: uppercase;
}
.benefit-top{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.benefit-bottom{
    display: flex;
    justify-content: space-between;
}
.benefit{
    display: flex;
    gap: 56px;
    flex-direction: column;
    padding-bottom: 16px;
    border-bottom: 1px solid #E6E2DA;
}
.bb-right-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 74px;
    row-gap: 110px;
}
.bb-right{
    display: flex;
    flex-direction: column;
    gap: 56px;
}
.bb-left{
    position: relative;
}
.bb-circle{
    display: flex;
    align-items: center;
    gap: 23px;
    position: sticky;
    top: 80px;
    margin-left: -11px;
}
.bb-ellipse{
    border-radius: 50%;
    border: 1px solid transparent;
    background: #034A2F;
    width: 24px;
    height: 24px;
    box-shadow: #034A2F 0 0 24px 12px;
}
.bb-text{
    color:#034A2F;
    text-transform: uppercase;
}
/* benefits section ends */
/* education courses */
.bg-blue{
background-color:#A9C2E5 ;
}
.bg-green{
background-color: #034A2F;
}
.bg-green.edu-in{
    margin-top:80px;
}
.inner-edu{
    padding-top: 93px;
    padding-bottom: 120px;
    display: flex;
    row-gap: 80px;
    flex-direction: column;
}
.bg-green.edu-in .edu-head h2{
    color: #FAF9F7;
    max-width: 20ch;
}
.num{
font-family: "Instrument Sans", sans-serif;
font-size: 27px;
font-weight: 400;
line-height: 28.08px;
letter-spacing: -0.03em;
}
.bg-green.edu-in .number1{
    color:#FAF9F7;
}
.bg-green.edu-in .number2{
    color:#19694A;
}
.edu-top{
    display: flex;
    justify-content: space-between;
    clip-path: inset(100% 0% 0% 0%);
    transition: 1s clip-path ease;
    transition-delay: 0.3s;
}
.eb-left{
    clip-path: inset(0 100% 0% 0%);
    transition: 1s clip-path ease;
    transition-delay: 0.3s;
}
.eb-right{
    clip-path: inset(0 0 0% 100%);
    transition: 1s clip-path ease;
    transition-delay: 0.3s;
}
.edu-numbers{
    display: flex;
    gap: 22px;
}
.bg-green.edu-in .eb-left{
    color: #37B34A;
}
.bg-green.edu-in .eb-right{
    color: #D6E3DE;
    max-width: 45ch;
}
.edu-bottom{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.light-blue.edu-in .edu-head h2{
    color: #121212;
    max-width: 12ch;
}
.light-blue.edu-in .number1{
    color:#BDCEDE;
}
.light-blue.edu-in .number2{
    color:#121212;
}
.light-blue.edu-in .eb-left{
    color: #5886B4;
}
.light-blue.edu-in .eb-right{
    color: #5E7287;
    max-width: 45ch;
}
/* education courses */
/* plan section starts */
.plan-heading h1{
    text-transform: capitalize;
    max-width: 15ch;
}
.plan-in{
    padding-top: 128px;
    padding-bottom: 120px;
}
.plan-left{
    display: flex;
    flex-direction: column;
    row-gap: 61px;
    width: 35%;
    margin-right: auto;
    clip-path: inset(0 100% 0% 0%);
    transition: 1s clip-path ease;
    transition-delay: 0.3s;
}
.inner-plan-right{
    display: flex;
    align-items: stretch;
    column-gap: 13px;
}
.plan-right{
    width: 55%;
    margin-left: auto;
}
.inner-plan-right .sbbr-left{
    width: 100%;
    row-gap: 24px;
}
.read a{
    text-transform: uppercase;
font-size: 10px;
font-weight: 600;
line-height: 10.4px;
letter-spacing: 0.1em;
color:#034A2F;
border-bottom: 1px solid #034A2F;
padding-bottom: 2px;
}
.readmore-mob{
    display: none;
}
.inner-plan{
    display: flex;
}
.plan-r-left{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    height: 100%;
    row-gap: 20px;
    width: 50%;
    justify-content: space-between;
}
.plan-r-right{
    width:50%;
}
/* plan section ends */
/* green accomplishment */
.bg-green .acc-top {
    color: #228F65;
}
.bg-green .acctop {
    color:#F4F2EC;
}
.bg-green .acctop span{
    color:#F4F2EC;
}
.bg-green .accbottom {
    color:#F4F2EC;
}
/* green accomplishment */
/* blue accomplishment */
.light-blue .acc-top {
    color: #93B2D1;
}
.light-blue .acctop {
    color:#121212;
}
.light-blue .acctop span{
    color:#121212;
}
.light-blue .accbottom {
    color:#121212;
}
/* blue accomplishment */
/* blue footer */
.foot-label p{
    color:#FAF9F7;
}
.inner-bfooter .custom-button{
    border:1px solid transparent;
    margin-left: 47px;
}
.inner-bfooter{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}
.blue-footer{
    position: sticky;
    bottom:0;
}
.green-footer{
    position: sticky;
    bottom:0;
}
.bfoot-button a{
    padding: 10px 26px;
}
/* blue footer */
/* contact page starts*/
.contact-form{
    padding-top: 130px;
}
.con-top-left{
letter-spacing: 0.14em;
color:#BFBFBF;
width: 50%;
    margin-right: auto;
}
.con-top-right p{
    max-width: 35ch;
}
.con-top-right 
{
    width: 50%;
    margin-left:auto
}
.con-top-in{
    display: flex;
}
.reach {
    text-transform: uppercase;
    color: #111111;
}
.support-mail a{
    color: #034A2F;
    padding: 8px 0;
    border-bottom: 1px solid #000000;
}
.address a{
    text-transform: capitalize;
    color: #666666;
}
.phone{
font-family: "Instrument Sans", sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 22.56px;
letter-spacing: 0.02em;
text-align: left;
color:#666666
}
.phone span a{
    font-family: "Instrument Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.56px;
    letter-spacing: 0.02em;
    text-align: left;
    color:#666666
    }
.cb-left-in{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
}
.support{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
}
.average-head{
    text-transform: uppercase;
    color: #A7BC9F;
}
.avgtop{
    font-size: 24px;
    line-height: 14.7px;
    color:#1C410D;
}
.avgtop span{
font-size: 38px;
line-height: 25.2px;
color:#1C410D;
}
.avgbottom{
font-size: 12px;
 line-height: 15.68px;
color:#034A2F;
max-width: 13ch;
    text-align: center;
}
.average{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}
.average-counter{
    display: inline-flex;
    background: #E2F0DC;
    padding: 24px 116px;
    flex-direction: column;
    gap: 48px;
    align-items: center;
    position: absolute;
    bottom: 12px;
    left: 0;
}
.average-bottom{
    display: flex;
    gap: 62px;
}
.con-bottom-left{
    display: flex;
    flex-direction: column;
    gap: 162px;
    width: 50%;
    margin-right: auto;
}
.contact-in{
    display: flex;
    flex-direction: column;
    row-gap: 60px;
}
.con-bottom{
    border-top: 1px solid #EEEBE7;
    padding-top: 56px;
    position: relative;
}
.con-bottom-in {
    display: flex;
}
.con-bottom-right {
    width: 50%;
    margin-left: auto;
}
.form-detail  label{
    text-transform: uppercase;
    color: #111111;
    display: flex;
}
.contact-details , .name-details {
    display: flex;
    gap: 38px;
}
.form-detail {
    display: flex;
    flex-direction: column;
    gap: 47px;
}
 .form-detail input{
    border:none;
    border-bottom:1px solid #BDBDBD;
    width: 100%;
    background: #FAF9F7;
}
.form-detail input::placeholder{
 font-family: "Instrument Sans", sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 22.56px;
letter-spacing: 0.02em;
color:#B8B8B8;
} 
.con-bottom-right form {
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.con-bottom-right form input:focus{
    outline: none;
}
.form-top {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/* Additional Select2 CSS */

body:has(.select2-container--open) {
    overflow-x: hidden;
}
.select2-container {
 width:100% !important; 
}
.option-wrapper .select2-container{
    border-bottom: 1px solid #BDBDBD;
    background-image: url('../images/contact-arrow.svg');
    background-position: right center;
    background-size: 2%;
    background-repeat: no-repeat;
}
.select2-container .select2-selection--single {
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    font-family: "Instrument Sans", sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 19.74px;
letter-spacing: 0.02em;
text-align: left; 
}
.select2-dropdown {
    width: 100%;
    border: none;
    border: none;
    outline: none;
    background:#FFFFFF;
    color:#6B6B6B;
    font-family: "Instrument Sans", sans-serif;
     font-size: 14px;
font-weight: 400;
line-height: 19.74px;
letter-spacing: 0.02em; 
    }
    .select2-container--default .select2-search--dropdown .select2-search__field {
        border:none;
        outline: none;
    } 
.select2-dropdown .select2-results__option:hover {
    color:#034A2F;
    background-color: #E8F1E3;
}
.select2-container--default .select2-results__option--selected {
    background-color:#E8F1E3 ;
    font-size: 16px;
    color:#034A2F;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    font-family: "Instrument Sans", sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 22.56px;
letter-spacing: 0.02em;
color:#034A2F;
}
.select2-selection__arrow {
    display: none;
}
.select2-container--default .select2-selection--single .select2-selection__placeholder {
    font-family: "Instrument Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.56px;
    letter-spacing: 0.02em;
    text-align: left;
    color: green;
}
  .terms label{
font-family: "Instrument Sans", sans-serif;
font-size: 12px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0.02em;
text-align: left;
color:#202322;
text-transform: none;
  }
  .terms label span{
font-size: 12px;
font-weight: 600;
line-height: 18px;
letter-spacing: 0.02em;
color:#034A2F;
border-bottom: 1px solid #034A2F;
text-transform: capitalize;
margin-left:2px;
  } 
  .terms {
    display: flex;
}
.submit-button a{
    width: 100%;
}
.con-line {
    /* border: 1px solid #EEEBE7; */
    margin-right: 85px;
    margin-left: 50px;
    /* height: 90%; */
    width: 1px;
    flex-shrink: 0;
    position: relative;
}
.con-line::after {
    content: "";
    position: absolute;
    inset: 0;
    width: 2px;
    height: 85%;
    background: #EEEBE7;
}
input[type="radio"]:checked {
    box-shadow: 0px 0px 0px 1px #D1E5DE;
    background-color: #034A2F;
}
input[type="radio"] {
    box-shadow: 0px 0px 0px 1px #708274;
    font-size: 102px;
    width: 16px;
    height: 16px;
    border: 3px solid #fff;
    background-clip: border-box;
    border-radius: 50%;
    appearance: none;
    transition: background-color 0.3s, box-shadow 0.3s;
    cursor: pointer;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    color:#034A2F;
    background-color: #E8F1E3
}
.select2-container--default .select2-search--dropdown .select2-search__field {
    display: none;
}
.first-name , .last-name , .email , .phone-no{
    width:50%;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  
}


/* contact page ends */
/* thank you page starts */
section.thankyou{
    height: 100vh;
    min-height: 700px;
    /* padding-top: 255px; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.ty-head {
    font-family: 'Gambarino-Regular';
    font-size: 85.05px;
    font-weight: 400;
    line-height: 89.3px;
    letter-spacing: -0.03em;
    text-align: center;
    text-transform: capitalize;
    color: #202322;
}
.ty-content.body2 {
    max-width: 54ch;
    color: #316A53;
    text-align: center;
}
.ty-text {
    display: flex;
    gap: 48px;
    flex-direction: column;
}
.inner-ty {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 92px;
}
/* thank you page ends */
/* customer stories page starts */
section.stories-banner{
    /* height: 100vh; */
     min-height: 700px; 
}
.s-label{
    color: #CACABA;
}
.s-head h1{
    font-size: clamp(42px, 7vw, 90px);
    line-height: 100%;
    letter-spacing: -0.07em;
    text-transform: capitalize;
    color: #202322;
}
.s-content p{
    color: #6B6B6B;
    max-width: 46ch; 
}
.s-ban-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.cu-img{
    position: relative;
    padding-top: 100%
}
.cu-img img{
    width:100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    inset:0;
}
.cu-img-left, .cu-img-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 12px;
} 
.cu-img1{
    width: 62%;
    padding-top: 82%;
    align-self: end;
}
.cu-img2{
     width: 100%;
    padding-top : 100%;
}
.cu-img3{
    width: 100%;
    padding-top: 100%;
}
.cu-img4{
    width: 62%;
    padding-top: 82%;
}
.customer-images {
     display: flex; 
    gap: 12px;
}

.inner-st-ban {
    padding-top: 142px;
    display: flex;
    overflow-y: auto;
    scroll-behavior: smooth;
    /* white-space: nowrap; */
    height: 100vh;
    align-items: stretch;
    transition: 0.5s ease all;  
}
.s-ban-left {
    width: 50%;
    display: flex;
    margin-right: auto;
    flex-direction: column;
    gap: 64px;
    position: sticky;
    top:0;
}
.s-ban-right {
    width: 40%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.st-ban-in {
    position: relative;
}
.st-ban-in .average-counter .avgtop{
    color:#202322;
}
.st-ban-in .average-counter .avgtop span{
    color:#202322;
}
.st-ban-in .average-counter .avgbottom{
    color:#656565;
    text-align: start;
}
.st-ban-in .average-counter .average{
    align-items: flex-start;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.inner-st-ban::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .inner-st-ban {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  

/* Style the tab */
.tab {
    display: flex;
    gap: 22px;
}
  
  /* Style the buttons inside the tab */
  .tab button {
    border:1px solid #034A2F;
    border-radius:35px;
    background-color: inherit;
    float: left;
    /* border: none; */
    /* outline: none; */
    cursor: pointer;
    padding: 10px 19px;
    transition: 0.3s;
font-size: 12px;
font-weight: 600;
line-height: 12.48px;
letter-spacing: 0.27em;
color:#034A2F;
text-transform: uppercase;

  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #034A2F;
    color:#FFFFFF;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #034A2F;
    color:#FFFFFF;
  }
  .case-stories{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 46px;
    row-gap: 38px;
  }
  .inner-case {
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.case-bottom {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.pagination {
    display: flex;
    gap: 12px;
  }
  
  .pagination a {
    text-align: center;
    float: left;
    display: flex;
    align-items: center;
    /* padding: 7px 8px; */
    justify-content: center;
    font-family: "Instrument Sans", sans-serif;
    font-size: 14.31px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.03em;
    color: #787878;
    transition: background-color .3s;
    border: 1px solid #E8E8E8;
    border-radius: 50%;
    width: 24px;
    height: 24px;
}
  
  .pagination a.active {
    background-color: #034A2F;
    color: #FEFDFC;
  }
  
  .pagination a:hover:not(.active) {background-color: #D3E4CB;}
  .case-pagination {
    align-self: center;
}
.case-tabs {
    display: block;
  }
  .case-dropdown{
    display: none;
  }
.custom-dropdown-label.sd-label p {
font-family: "Instrument Sans", sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 22.56px;
letter-spacing: 0.02em;
color:#013F27;
}
.custom-dropdown-label .select-dd-arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12px;
    transform: rotate(0deg);
    transition: 0.6s all ease;
}
.custom-dropdown-label.active .select-dd-arrow{
    transform: rotate(180deg);
}
.custom-dropdown-label .select-dd-arrow img{
    width: 100%;
    height: auto;
    max-height: 100%;
}
.custom-dropdown-label.sd-label {
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    border: 1px solid #F5F3EF;
    padding:12px 20px;
}

.custom-dropdown-select.sd-select ul {
    width: 100%;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    /* padding: 36px 0; */
    padding-top:12px;
    padding-bottom: 36px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Instrument Sans", sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 22.56px;
letter-spacing: 0.02em;
color:#013F27;
text-transform : capitalize;
}
.custom-dropdown-select.sd-select ul li:last-child{
    border: none;
}
.custom-dropdown-select.sd-select ul li:last-child .eventTabLink{
    padding-bottom: 0;
}
.custom-dropdown-select.sd-select ul li {
    border-bottom: 1px solid #F1F0EE;
    /* padding-bottom: 21px;
    padding-top: 24px; */
}
.eventTabLink {
    padding-bottom: 21px;
    padding-top: 24px; 
}
.rotate {
    transform: rotate(180deg);
}
.custom-dropdown-select.sd-select {
    display: none;
}
.case-dropdown {
    z-index: 10000;
}

/* customer stories page ends */
/* holistic page starts */
/* holistic banner */
.hol-ban-img {
    width: 100%;
    position: relative;
    padding-top: 28%;
}
.hol-ban-img img{
    width:100%;
height:100%;
object-fit: cover;
position: absolute;
inset:0;
}
.hol-ban-head h2{
font-family: "Inter", sans-serif;
font-size: clamp(40px,8vw,96px);
font-weight: 400;
line-height: clamp(43px,8vw,96px);
letter-spacing: -0.07em;
}
.hol-ban-bottom.light-blue .hol-ban-head h2 {
  color:#121212; 
  text-transform: capitalize;  
}
.hol-ban-bottom{
    padding: 80px 0;
}
.hol-text {
    max-width: 70ch;
}
.hbb-in {
    display: flex;
    flex-direction: column;
    gap: 114px;
}
.hol-content {
    gap: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hol-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hol-label.label2 {
    padding-bottom: 50px;
}
.hol-ban-bottom.light-blue .hol-label.label2 {
    color:#5886B4;
}
.hol-ban-bottom.light-blue .hol-text p {
    color:#7C91A6;
}
/* holistic banner */
/* holistic segment */
section.holistic-segment .segment-in {
    background-color: #5886B4;
}
section.holistic-segment .segment-list .segli {
    color: #A2C2E2;
    font-weight: 800;
}
section.holistic-segment .ellipse {
    background: #A2C2E2;
}
/* holistic segment */
/* holistic benefits */
section.hol-benefits {
    padding-top: 92px;
}
section.holistic-segment .mobile-segment-list .bx-wrapper {
    background-color:#5886B4;
}
section.holistic-segment .mobile-segment-list  ul.bxslider li .segli{
    color:#A2C2E2;
}
/* holistic benefits */
/* module section starts */
.module-label {
    text-transform: uppercase;
    color: #CBC8C3;
}
.module-head {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.module-top {
    display: flex;
    flex-direction: column;
    gap: 32px;
    clip-path: inset(0% 0% 100% 0%);
    transition: 1s clip-path ease;
    transition-delay: 0.3s;
}
.module-desk{
    display: flex;
    flex-direction: column;
    gap: 88px;
}
.inner-module {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.mod-mob{
    display: none;
}
.module1-bottom p {
    max-width: 29ch;
}
.module1-top.label2 {
    padding: 24px 32px;
    display: inline-block;
}
.module1{
    display: inline-flex;
    flex-direction: column;
    gap: 158px;
    border: 1px solid #E8E8E8;
    background: #ffff;
    padding-bottom: 40px;
    clip-path: inset(0% 0% 100% 0%);
    transition: 1s clip-path ease;
    transition-delay: 0.3s;
}
.second{
    transition-delay: 0.6s;
}
.third{
    transition-delay: 0.9s;
}
.module1-bottom {
    padding: 0 32px;
}
.module-bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 22px;
}
.module-bottom .module1:nth-child(3n+1) .module1-top.label2 {
    background-color: #AEC3A3;
    color:#5C7A4C;
  }
  .module-bottom .module1:nth-child(3n+2) .module1-top.label2 {
    background-color: #DCEAF8;
    color:#5E7791;
  }
  .module-bottom .module1:nth-child(3n+3) .module1-top.label2 {
    background-color: #F3E0D7;
    color:#966F5D;
  }
/* module section ends */
/* founders section starts */
.fo-content p{
    max-width: 70ch;
    color:#6B6B6B;
}
.fo-top {
    display: flex;
    justify-content: space-between;
}
.inner-fo {
    display: flex;
    flex-direction: column;
    gap: 92px;
}
.fo-img {
    position: relative;
    width: 100%;
    padding-top: 90%;
}
.fo-img img {
    width:100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    inset:0;
}
.name {
font-size: 22.53px;
font-weight: 400;
line-height: 29.28px;
letter-spacing: 0.01em;
color:#121212;
}
.certification{
    text-transform: uppercase;
    color:#5F7589;
}
.fo-name {
    background: #DCEAF8;
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px 43px 20px 13px;   
}
.fo {
    position: relative;
     overflow: hidden;
     clip-path: inset(0 0% 100% 0%);
    transition: 1s clip-path ease;
    transition-delay: 0.3s; 
}
.fo-desig{
font-family: "Instrument Sans", sans-serif;
font-size: 13.86px;
font-weight: 400;
line-height: 19.55px;
letter-spacing: 0.02em;
color:#5F7589;
background: #BCD7F0;
    position: absolute;
    bottom: 0;
    padding: 14px 21px;
}
.fo-bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 70px;
}
.fo-bottom .fo:nth-child(3n+1) .fo-name{
    background:#DCEAF8;
    
  }
  .fo-bottom .fo:nth-child(3n+2) .fo-name{
    background:#F3E0D7;
  }
  .fo-bottom .fo:nth-child(3n+3) .fo-name{
    background:#AEC3A3;
  }
  .fo-bottom .fo:nth-child(3n+1) .fo-name .certification{
    color:#5F7589;
    
  }
  .fo-bottom .fo:nth-child(3n+2) .fo-name .certification{
    color:#9C8377;
  }
  .fo-bottom .fo:nth-child(3n+3) .fo-name .certification{
    color:#5D7654;
  }
  .fo-bottom .fo:nth-child(3n+1) .fo-desig{
    background-color:#BCD7F0 ;
    color:#5F7589;
  }
  .fo-bottom .fo:nth-child(3n+2) .fo-desig{
    background-color: #F3E0D7;
    color:#9C8377;
  }
  .fo-bottom .fo:nth-child(3n+3) .fo-desig{
    background-color: #AEC3A3;
    color:#5D7654;
  }
  .fo-description {
    background: #DCEAF8;
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 60px;
    width:100%;
    transform: translateY(100%);
    transition: 0.6s ease all;
    justify-content: space-evenly;
}
.fo:hover .fo-description{
    transform: translateY(0);
}
.fo-tittle{
 font-family: "Instrument Sans", sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 20.58px;
letter-spacing: 0.02em;
color:#314B63;
text-align: end;
    padding: 14px 21px;
}

.fo-para p {
    overflow-y: auto; /* Enables scrolling */
    max-height: 150px; /* Adjust as needed */
}

/* For Webkit browsers like Chrome, Safari */
.fo-para p::-webkit-scrollbar {
    width: 2.5px;
}

.fo-para p::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px #795B4E;
    background: #F3E0D7;
}

.fo-para p::-webkit-scrollbar-thumb {
    background: #795B4E;
    border-radius: 16px;
    outline: 1px solid #795B4E;
}

.fo-description.visible {
    transform: translateY(0);
}








.fd-name {
font-size: 22px;
font-weight: 400;
line-height: 28.6px;
letter-spacing: 0.01em;
color:#121212;
}
.fd-cert {
    text-transform: uppercase;
    color: #5F7589;
}
.fo-para p{
    font-family: "Instrument Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20.58px;
    letter-spacing: 0.02em;
    color: #5F7589;
}
.fo-des {
    display: flex;
    gap: 51px;
    flex-direction: column;
    padding: 0 34px;
}
.fo-bottom .fo:nth-child(3n+1) .fo-description {
    background: #DCEAF8;
}
.fo-bottom .fo:nth-child(3n+2) .fo-description {
    background: #F3E0D7;
}
.fo-bottom .fo:nth-child(3n+3) .fo-description {
    background: #AEC3A3;
}

.fo-bottom .fo:nth-child(3n+1) .fo-tittle,
.fo-bottom .fo:nth-child(3n+1) .fd-cert,
.fo-bottom .fo:nth-child(3n+1) .fo-para p {
    color: #5F7589;
}


.fo-bottom .fo:nth-child(3n+2) .fo-tittle,
.fo-bottom .fo:nth-child(3n+2) .fd-cert,
.fo-bottom .fo:nth-child(3n+2) .fo-para p {
    color: #9C8377;
}


.fo-bottom .fo:nth-child(3n+3) .fo-tittle,
.fo-bottom .fo:nth-child(3n+3) .fd-cert,
.fo-bottom .fo:nth-child(3n+3) .fo-para p {
    color: #5D7654;
}

/* founders section ends */
/* holistic page ends */
/* virtual diabetes page starts */
/* virtual banner starts */
.hol-ban-bottom.bg-green .hol-ban-head h2{
    color:#FAF9F7;
}
.hol-ban-bottom.bg-green .hol-label{
    color:#37B34A;
}
.hol-ban-bottom.bg-green .hol-text p{
    color:#BDCAC5;
}
section.virtual-banner .hol-ban-img img
{
object-position: bottom;
}
/* vistual banner ends */
/* virtual module section */
.courses {
    border: 1px solid #E8E8E8;
    background: #FFFFFF;
    padding: 40px 26px 40px 26px;
    display: flex;
    flex-direction: column;
    gap: 109px;
    align-items: flex-start;
    clip-path: inset(0% 0% 100% 0%);
    transition: 1s clip-path ease;
    transition-delay: 0.3s;
}
.course-tab.label3 {
    background: #F3E0D7;
    border-radius: 16px;
    padding: 8px 16px;
    display: inline-block;
}
.course-heading {
    font-size: 26px;
    line-height: 33.8px;
    letter-spacing: -0.01em;
    color: #494545;

}
.course-head {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: baseline;
    max-width: 28ch;
}
ul.course-list.label2 {
    align-items: baseline;
    color: #939393;
    list-style-type: disc;
    display: flex;
    flex-direction: column;
    gap: 22px;
    padding-left: 16px;
}
.module-bottom .courses:nth-child(3n+1) .course-tab.label3 {
    background-color:#F3E0D7;   
  }
  .module-bottom .courses:nth-child(3n+2) .course-tab.label3 {
    background-color:#DCEAF8;   
  }
  .module-bottom .courses:nth-child(3n+3) .course-tab.label3 {
    background-color:#AEC3A3;   
  }
/* virtual module section */
/* virtual diabetes page ends */
/* blog page starts */
/* blag banner starts*/
.inner-blog-ban {
    display: flex;
    flex-direction: column;
    gap: 72px;
    padding-top: 152px;
    padding-left: calc(120px - 5%);
    padding-right: calc(120px - 5%);
}
.blog-ban-top {
    color: #202322;
    text-align: center;
}
.featured {
    /* font-family: General Sans; */
font-size: 16px;
font-weight: 600;
line-height: 21.6px;
letter-spacing: 0.16em;
color: #393939;
text-transform: uppercase;
}
.bg-head h3 {
    color: #393939;
    max-width: 35ch;
}
.bg-text p{
    max-width: 47ch;
    color:#6B6B6B;
}
.feature-info{
font-size: 12px;
line-height: 14.52px;
color: #6B6B6B;
}
.bg-ban-left {
    /* width: 50%;
    margin-right: auto; */
    display: flex;
    flex-direction: column;
    gap: 84px;
    position: relative;
    padding-top: 43px;
    padding-bottom: 61px;
    height: 100%;
    width: 45%;
}
.bg-ban-right {
    width: 50%;
    position: relative;
    top:0;
    right:0;  
}
.blog-ban-img{
    position: relative;
    padding-top: 100%;
    height: 100%;
}
.blog-ban-img img{
    width:100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    inset:0;
}
.bg-ban-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 69px;
}
.bg-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 39px;
}
.blog-ban-bottom a {
    display: flex;
    border: 1px solid #EDEDED;
    padding-left: 36px;
    position: relative;
    justify-content: space-between;
    align-items: stretch;
}
section.blog-study {
    padding-top: 112px;
}
/* blog banner ends */
/* email box section starts */
.email-head {
    max-width: 70ch;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.email-box {
    border: 1px solid #E5E2DE;
    padding-top: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 42px;
    padding-bottom: 119px;
}
.email-form .formcontainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}
.email-form .formcontainer .e-mail input {
    width: 100%;
     padding: 14px 0;
     padding-left:20px;
     background-color:#FAF9F7;
     border:1px solid #D9D9D9;
     font-family: "Instrument Sans", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.02em;
  color:#202322;
   }
.email-form .formcontainer .e-mail input::placeholder {
    font-family: "Instrument Sans", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.02em;
  color:#202322;
   }
.email-form  .formcontainer .e-mail input:focus{
    outline: none;
   }
.e-mail{
    position: relative;
    width: 100%;
}
   .subscribe{
    position: absolute;
    right:0;
    bottom:0;
    height: 100%;
   }
   .subscribe a {
    padding: 16px 20px;
    height: 100%;
}
.email-form .formcontainer .privacy-pol label{
    font-family: "Instrument Sans", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.02em;
  color:#8B8B8B;
  margin-bottom: 0;
  }
  .email-form .formcontainer .privacy-pol label a{
    font-family: "Instrument Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0.02em;
  padding-bottom: 2px;
 border-bottom: 1px solid;
 color:#8B8B8B;
  }
  .inner-email {
    padding-left: calc(120px - 5%);
    padding-right: calc(120px - 5%);
    margin-bottom: 111px;
}
.privacy-pol {
    display: flex;
    gap: 11px;
}
/* email blog section ends */
/* blog page ends */
/* stories-inner page starts */
.in-st-inner {
    padding-top: 152px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.st-head {
    display: flex;
    flex-direction: column;
    gap: 39px;
    
}
.st-head h1{
    max-width: 112ch;
}
section.inner-blog  .st-head h1{
    max-width: 40ch;
}
.st-img {
    position: relative;
    padding-top: 40%;
}
.st-img img {
    position: absolute;
    width:100%;
    height: 100%;
    object-fit: cover;
    inset:0;
}
.in-st-top {
    display: flex;
    flex-direction: column;
    gap: 56px;
}
.in-st-bottom {
    padding: 0 329px;
    display: flex;
    flex-direction: column;
    gap: 56px;
}
.p-wo-heading {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.p-wi-heading {
    display: flex;
    gap: 28px;
    flex-direction: column;
}
.in-st-img{
    position: relative;
    padding-top: 60%;
}
.in-st-img img{
    position: absolute;
    width:100%;
    height: 100%;
    object-fit: cover;
    inset:0;
}
.image-cap {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.caption {
    text-align: center;
}
.img-p-head {
    display: flex;
    flex-direction: column;
    gap: 43px;
}
.st-list ul{
    display: flex;
    flex-direction: column;
    gap: 12px;
    list-style: disc;
    color: #6B6B6B;
    padding-left: 47px;
    max-width: 100%;
}
.st-anchor a{
    text-decoration: underline;
    color: #6B6B6B;
}
.p-wo-heading p {
    color:#6B6B6B;
    max-width: 100%;
}
.p-wi-heading h3 {
    color:#202322;
}
.caption{
font-family: "Instrument Sans", sans-serif;
font-size: 12px;
font-weight: 400;
line-height: 18px;
color:#AAAAAA;
}
.p-wi-list , .p-wi-a{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
/* stories inner page ends */
/* blog inner page starts */
.bg-share {
    display: flex;
    justify-content: space-between;
}
.share {
    display: flex;
    align-items: flex-end;
    gap: 8px;
    position: relative;
    z-index: 10000; 
    cursor: pointer;
}
.share-text.label1 {
    color: #034A2F;
}
.share-drop {
    position: absolute;
    top: 35px;
    right: 0;
    background: #FAF9F7;
    width: max-content;
    display: flex;
    flex-direction: column;
    gap: 28px;
    padding-left: 34px;
    padding-top: 32px;
    padding-bottom: 20px;
    padding-right: 40px;
    opacity: 0;
    visibility: hidden;
    z-index: 10000; 
    transition: all 0.6s ease;
}
.social a {
    display: flex;
    align-items: center;
    gap: 12px;
}
.copy-vector{
    width:14px;
    height:14px;
    position: relative;
}
.fb-vector{
    width:18px;
    height:18px;  
    position: relative;
}
.tweet-vector{
    width:14px;
    height:14px;
    position: relative;
}
.mail-vector{
    width:16px;
    height: 12px;
    position: relative;
}
.icon img{
    width:100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    inset: 0;
}
.icon-text{
font-size: 12px;
font-weight: 600;
line-height: 12.48px;
letter-spacing: 0.27em;
color:#034A2F;
text-transform: uppercase;
}
.share-on {
    display: flex;
    flex-direction: column;
    gap: 33px;
}
.copy.social {
    padding-bottom: 28px;
    border-bottom: 1px solid #F1F0EE;
    width:100%;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}


.social a {
    text-decoration: none;
    position: relative;
    color: #034A2F; /* Set text color to white */
  }
  
  .social a .icon-text:after {
    background: none repeat scroll 0 0 transparent;
    bottom: -5px;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    background: #034A2F; /* Set underline color to white */
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  
  .social a:hover .icon-text:after {
    width: 100%;
    left: 0;
  }
  
/* blog inner page ends */
/* faq page starts */
.inner-faq-p {
    padding-top: 172px;
    display: flex;
    flex-direction: column;
    gap: 68px;
}
.tabcontent .faq-accordion .accrodion-container .inner{
    max-width: 73ch;
}
/* faq page ends */
/* 404 page starts */
section.not-found {
    height: 100vh;
    min-height: 700px;
}
.fof {
font-family: 'Gambarino-Regular';
font-size: 144px;
font-weight: 400;
line-height: 151.2px;
letter-spacing: -0.03em;
color:#212121;
text-align: center;
}
.pnf h1{
    color:#90B180;
    text-align: center;
}
.error-text{
    color:#656565;
    text-align: center;
}
.inner-nf {
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
    padding-top: 170px;
}
.error-type {
    display: flex;
    flex-direction: column;
    gap: 54px;
}
.error {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
/* 404 page ends */
/* terms and conditions page */

    .inner-terms {
        padding-top: 164px;
        display: flex;
        flex-direction: column;
        gap: 95px;
        max-width: 62ch;
    margin: 0 auto;
    }

.term-top h1{
    color:#1A1A1A;
}

.t-head{
font-size: 28px;
line-height: 36.4px;
letter-spacing: -0.01em;
color:#494949;
}
.t-head-para p{
    color:#6B6970;
    max-width: 100%;
}
.t-para p{
        color:#6B6970;
        max-width: 100%;
}
.t-sub-head h3{
    color:#25232B;
}
.t-head-para {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.term {
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.t-para {
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.term-bottom {
    display: flex;
    flex-direction: column;
    gap: 92px;
}
.content-div {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.para-li ul{
    display: flex;
    flex-direction: column;
    gap: 12px;
    list-style: disc;
    color: #6B6B6B;
    padding-left: 47px;
    max-width: 100%;
}
.para-a a{
    text-decoration: underline;
    color: #6B6B6B;
}
/* terms and conditions page */













































/* Responsive Css Starts */
/* Max Width 1800px */
@media(max-width: 1800px){
}
/* Max Width 1800px Ends */
/* Max Width 1700px */
@media(max-width: 1700px){
}
/* Max Width 1700px Ends */
/* Max Width 1600px */
@media(max-width: 1600px){
}
/* Max Width 1600px Ends */
/* Max Width 1500px */
@media(max-width: 1500px){
}
/* Max Width 1500px Ends */
/* Max Width 1400px */
@media(max-width: 1400px){
    .st-ban-in {
        position: relative;
        padding-bottom: 142px;
    }
}
/* Max Width 1400px Ends */
/* Max Width 1300px */
@media(max-width: 1300px){
    .inner-blog-ban {
        padding-left: calc(80px - 5%);
        padding-right: calc(80px - 5%);
    }
    .in-st-bottom {
        padding: 0 280px;
    }
    .average-counter {
        padding: 24px 70px;
    }
}
/* Max Width 1300px Ends */
/* Max Width 1200px */
@media(max-width: 1200px){
    .founder-name {
        padding: 16px 7px 16px 8px;
    }
    .designation {
        padding: 12px;
    }
    .fo-bottom {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }
    .fo-para p {
        max-width: 100%;
    }
section.stories-banner   .average-counter {
        bottom: 176px;
    }
    .inner-approach{
        gap: 40px;
    }
    .inner-founders{
        gap: 98px;
    }
    .inner-mission{
        width: 50%;
        gap: 120px;
    }
    .inner-donate{
        padding: 80px 0;
    }
}
/* Max Width 1200px Ends */
/* Max Width 1100px */
@media(max-width: 1100px){
    .inner-mission {
        gap:125px;
    }
    .founder1 {
        width: 100%;
        /* align-items: stretch; */
    }
    .founder2 {
        /* flex-direction: row-reverse; */
        /* align-items: stretch; */
        width: 100%;
        position: relative;
        margin-top: 50px;
    }
    .founders-top {
        flex-direction: column;
        row-gap: 28px;
    }
    .founder-img {
        padding-top: 85%;
    }
    .con-line {
        display: none;
    }
    .con-bottom-in {
        flex-direction: column;
        gap: 60px;
        padding-bottom: 40px;
    }
    .con-bottom-right {
        width: 100%;
        order: -1;
    }
    .contact-details, .name-details {
        flex-direction: column;
    }
    .con-top-in {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
    .con-top-left {
        width: 100%;
    }
    .con-top-right {
        width: 100%;
    }
    .con-top-right p {
        max-width: 100%;
        color: #575656;
    }
    .con-bottom {
        padding-top: 25px;
        padding-bottom: 70px;
    }
    .form-detail {
        gap: 40px;
    }
    label.container {
        margin: 0;
    }
    .con-bottom-left {
         display: block;
        width: 100%;
}
.cb-left-in {
    align-items: center;
}
.support {
    align-items: center;
}
.address {
    text-align: center;
}
.con-bottom .average-counter {
    width:100%;
}
.first-name , .last-name , .email , .phone-no{
    width:100%;
}
.inner-blog-ban {
    padding-left: calc(30px - 5%);
    padding-right: calc(30px - 5%);
}

section.contact-form .average-counter{
    bottom: -75px;
}
.hol-ban-img {
    padding-top: 40%;
}
section.virtual-banner .hol-ban-img  {
    padding-top: 28%;
}
.average-bottom{
    gap: 44px;
  }
  section.stories-banner .average-counter{
    bottom: 0px;
  }
  .st-ban-in{
    padding-bottom: 0;
  }
  .explore-bottom{
    gap: 20px;
  }
  .hol-bottom {
    gap:40px
  }
}
/* Max Width 1100px Ends */
/* Max Width 991px */
@media(max-width: 992px){
    .approach-top {
        flex-direction: column;
        row-gap: 40px;
    }
    .app-top-right {
        width: 100%;
    }
    .approach-bottom {
        width: 100%;
    }
    .inner-approach {
        row-gap: 80px;
    }
    /* .ab-banner-top h1 {
        font-size: 80px;
        line-height: 78px;
    } */
    .mission-left {
        width: 100%;
        position: relative;
    }
    .inner-mission {
        gap: 60px;
        width: 100%;
    }
    .mission-right {
        width: 100%;
        margin-top: 56px;
    }
    .mission-img {
        padding-top: 70%;
    }
    .explore-bottom {
        flex-direction: column;
    }
    section.about-banner {
        height: 100%;
        padding: 100px 0;
        padding-top: 50px;
    }
    .sol-ban {
        flex-direction: column;
        row-gap: 92px;
    }
    
    .sol-ban-left {
        row-gap: 48px;
    }
    .inner-benefits {
        row-gap: 82px;
    }
    .bb-left {
        display: none;
    }
    .benefits-bottom {
        display: block;
    }
    .edu-bottom {
        align-items: flex-start;
        flex-direction: column;
        row-gap: 40px;
    }
    .inner-edu {
        row-gap: 100px;
    }
    .inner-plan {
        flex-direction: column;
        row-gap: 50px;
    }
    .plan-left{
        row-gap: 40px;
    }
    .plan-right {
        width: 100%;
        order: -1;
        display: flex;
        flex-direction: column;
        row-gap: 32px;
    }
    .plan-left {
        width:100%;
    }
    .readmore{
        display: none;
    }
    .readmore-mob{
        display: block;
    }
    .inner-founders {
        row-gap: 80px;
    }
    .inner-explore {
        padding: 70px 0;
    }
    .inner-acc {
        row-gap: 40px;
    }
    .inner-st-ban {
        flex-direction: column;
        padding-top: 165px;
        gap: 64px;
    }
    .s-ban-left {
        width: 100%;
        gap: 40px;
    }
    .average-counter {
        position: relative;
    }
    .s-ban-right {
        width: 100%;
        margin-left: 0;
        order: -1;
    }
    .cu-img1 {
        width: 60%;
        padding-top: 70%;
        align-self: end;
    }
    .cu-img2 {
        align-self: end;
        width: 95%;
        padding-top: 70%;
    }
    .cu-img3 {
        width: 95%;
        padding-top: 85%;
    }
    .cu-img4 {
        width: 62%;
        padding-top: 65%;
    }
    .st-ban-in {
         padding-bottom:0; 
    }
    .s-content p {
        width:100%;
    }
    .st-ban-in .average-counter{
        width: 100%;
    margin-top: 80px;
    }
    .hbb-in {
        gap: 50px;
    }
    .hol-bottom {
        gap: 40px;
        align-items: baseline;
        flex-direction: column;
    }
    .hol-label.label2 {
        padding-bottom: 0;
    }

.module-bottom {
    grid-template-columns: 1fr;
}
 .fo-name {
    position: absolute;
    bottom: 0;
    left: 0;
    top: auto;
    padding: 8px;
    right: auto;
} 
.fo-desig {
    position: absolute;
    bottom: auto;
    top: 0;
    right: 0;
    padding: 6px;
}
.fo-top {
    gap: 28px;
    flex-direction: column;
}
.case-tabs  {
    display: none;
  }
  .case-dropdown {
    display: block;
  }
  .case-stories {
    grid-template-columns: 1fr;
    row-gap: 32px;
}
.case-bottom {
    gap: 48px;
}
.inner-case {
    gap: 28px;
}
.s-ban-right .customer-images:nth-of-type(2) {
    display: none;
}
.s-ban-left {
    position: relative;
}
.inner-st-ban {
    overflow-y: hidden;
    height: 100%;
}
.blog-ban-bottom a{
    padding-left: 0;
    flex-direction: column;
}
.bg-head h3 {
    max-width: 100%;
}
.bg-text p {
    max-width: 100%;
}
.bg-ban-right {
    width: 100%;
    order: -1;
}
.blog-ban-img {
    padding-top: 60%;
}
.inner-blog-ban {
    padding-left: 0;
    padding-right: 0;
    padding-top: 95px;
    gap:40px
}
.bg-ban-left {
    gap: 40px;
    padding-top: 20px;
    padding-bottom: 0;
    width: 100%;
    padding: 20px;
}
.bg-content {
    gap: 22px;
}
.bg-ban-bottom {
    gap: 28px;
}
.inner-email {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 80px;
}
.email-box {
    padding-top: 55px;
    padding-bottom: 83px;
    gap: 40px;
}
.email-form .formcontainer {
    gap: 17px;
}
.in-st-bottom {
    padding: 0;
}
.in-st-inner {
    padding-top: 125px;
    gap: 40px;
}
.inner-about-banner {
    padding-top: 125px;
}
.st-head {
    gap: 24px;
}
.p-wo-heading {
    gap: 28px;
}
.p-wi-heading {
    gap: 32px;
}
.image-cap {
    gap: 12px;
}
.inner-nf {
    padding-top: 105px;
}
.mod-mob{
    display: block;
}
.module-head a{
    display: none;
}
.contact-form {
    padding-top: 121px;
}
.average-counter {
    bottom: 0px;
}
   .inner-bfooter {
    flex-direction: column;
    row-gap: 22px;
    text-align: center;
}
.foot-label p{
    line-height: 130%;
}
.inner-bfooter .custom-button {
     margin-left: 0; 
    width: 100%;
}
.sol-ban {
    padding-top: 130px;
    padding-bottom: 50px;
}
.hol-ban-in {
    padding-top: 40px;
}
section.contact-form .average-counter {
    bottom: 0px;
}
.con-bottom {
     padding-bottom: 0;
}
.average-bottom{
    width: 100%;
    justify-content: space-between;
}
.st-ban-in .average-counter .avgbottom{
    text-align: center;
    margin: 0 auto;
}
.st-ban-in .average-counter .average{
    align-items: center;
}
.mission-in{
    display: flex;
    flex-direction: column-reverse;
    gap: 40px;
}
.explore-reasons{
    padding-top: 70px
}
.inner-donate{
    gap: 40px;
}
.sol-inner-ban{
    height: 100%;
}
}
/* Max Width 991px Ends */
/* Max Width 767px */
@media(max-width: 767px){
    .ab-banner-top h2{
        font-size: 50px;
        line-height: 55px; 
    }
    /* .ab-banner-top h1{
        font-size: 80px;      
        line-height: 78px;
    }  */
    section.about-banner{
        padding: 60px 0;
    }
    .statement1{
font-size: 14px;
line-height: 18.2px;
    }
    .body2{
font-size: 16px;
line-height: 24px;
    }
    .app-top-right p {
font-size: 17px;
line-height: 22.1px;
text-wrap: pretty;
    }
    
    .pf-left-top h2{
font-size: 48px;
line-height: 49.44px;
letter-spacing: -0.05em;
    }
    .founder1 {
        flex-direction: column;
    }
    .founder2 {
         flex-direction: column;
    }
    .founder-left, .founder-right {
        width: 100%;
    }
    .founder-description {
        width: 100%;
    }
    .founder-right {
        order:-1;
    }
    .benefits-content p {
        font-size: 20px;
        line-height: 26px;
    }
    .num {
        font-size: 14px;
        line-height: 15px;
    }
    .inner-plan-right {
        flex-direction: column;
        row-gap: 20px;
    }
    .plan-r-left{
        width: 100%;
    }
    .plan-r-right{
        width: 100%;
    }
    .mi-content{
        font-size: 18px;
        line-height: 23px;
    }
    .mission-bottom p {
        font-size: 14px;
        line-height: 18px;
    }
    section.solution-banner {
        height: 100%;
        min-height: 100%;
    }
    
    .benefit-centre p {
        max-width: 100%;
    }
    .bg-green.edu-in {
        margin-top: 60px;
    }
    .inner-edu {
        padding: 60px 0;
    }
    .plan-in {
        padding:60px 0;
    }
    .bg-green .acc-top {
        text-align: center;
        line-height: 126%;
    }
    .light-blue .acc-top {
        text-align: center;
        line-height: 126%;
    }
    .bg-green.edu-in .edu-head h2 {
        max-width: 19ch;
    }
    .ab-banner-top {
        row-gap: 20px;
    }
    .inner-about-banner {
        row-gap: 70px;
    }
    .inner-donate {
        padding:50px 0;
        gap: 40px;
    }
    .inner-st-ban {
        padding-top: 100px;
    }
    .fo-bottom {
        grid-template-columns: 1fr;
      }
      .average-bottom {
        display: flex;
        gap: 40px;
        flex-direction: column;
    }  
    .bg-share {
        flex-direction: column;
        gap: 21px;
    }
    .share-drop {
        left: 0;
    }
    .inner-faq-p {
        padding-top: 145px;
    }
    .fof {
        font-size: 104px;
        line-height: 108.16px;
    }
    section.not-found {
        height: 600px;
    }
    .hol-ban-bottom.bg-green {
        text-align: left;
    }
    .average-head {
        text-align: center;
    }
    .hol-ban-img {
        padding-top: 45%;
    }
    .option-wrapper .select2-container{
        background-size: 3%;
    }
    .email-head h1{
            font-size: 22px;
            line-height: 27px;
    }
    .avgtop span {
        font-size: 24px;
    }
    .avgtop {
        font-size: 14px;
    }
    .hol-ban-bottom {
        padding: 43px 0;
    }
    .inner-story{
        gap: 58px;
    }
    .s-ban-left{
        gap: 24px;
    }
    .st-ban-in .average-counter .average{
        gap: 8px;
    }
    .inner-st-ban{
        gap: 60px;
    }
    .inner-about-banner {
        padding-top: 75px;
    }
}
@media(max-width: 500px){
.bb-right-grid {
    grid-template-columns: 1fr;
  }
  .email-form {
    padding: 0 10px;
}
.email-head {
    padding: 0 10px;
}
section.virtual-banner .hol-ban-img {
    padding-top: 35%;
}
}
@media(max-width: 400px){

}
/* Max Width 767px Ends */
/* Responsive Css Ends */