body {
    font-family: "Inter", sans-serif;
    color:#212121;
    background-color: #FAF9F7;
    font-weight: 400;
}
dl,
ol,
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color:#222222;
}

a:hover{
    text-decoration: none;
    color:#212121;
}
.paddy{
    padding-top: 150px;
}
.spacer{
  padding-top: 150px;
}
.white{
  background-color: #fff;
  color: #034A2F;
  display: inline-block;
}
.grey{
    color:#D0D0CF;
}
.green{
    color:#7A9D69;
}

.sub-body{
  font-family: "Instrument Sans", sans-serif;
font-size: 12px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0.02em;
}
.body2{
 font-family: "Instrument Sans", sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 140%;
letter-spacing: 0.2px;
color:#656565;
}
.label1{
font-size: 16px;
font-weight: 700;
line-height: 20px;
letter-spacing: 0.16em;
color:#4DCC9C;
}
.label2{
font-size: 12px;
font-weight: 800;
line-height: 15px;
letter-spacing: 3px;
color:#B9B9B9;
}
.label3{
font-size: 10px;
font-weight: 600;
line-height: 10.4px;
letter-spacing: 0.1em;
color:#282424;
}
.statement1{
font-size: 26px;
font-weight: 400;
line-height: 33.8px;
letter-spacing: 0.01em;
}
.statement2{
font-size: 24px;
font-weight: 400;
line-height: 31px;
letter-spacing: -0.03em;
color:#CED9D5
}
.qh1{
font-size: 18px;
font-weight: 400;
line-height: 23.4px;
letter-spacing: 0.02em;
color:#000000;
}
.custom-button {
    display: inline-block;
    text-align: center;
    border: 1px solid #034A2F;
    padding:14px 20px;
    font-size: 12px;
    font-weight: 600;
    line-height: 12.48px;
    letter-spacing: 0.26em;
color:#034A2F;
transition: 0.6s ease all;
}
.custom-button:hover{
  background-color: #034A2F;
  color:#fff;
}
h1{
font-size: 50px;
font-weight: 400;
line-height: 62.5px;
letter-spacing: -0.03em;
color:#212121;
}
h2{
  font-family: 'Gambarino-Regular';
  font-size: 60px;
  font-weight: 400;
  line-height: 62.4px;
 color:#212121
}
h3{
  font-size: 22px;
  font-weight: 400;
  line-height: 28.6px;
  letter-spacing: -0.01em; 
  color:#2B2727;
}
h4{
  font-family: 'Gambarino-Regular';
font-size: 24px;
font-weight: 400;
line-height: 24.96px;
color:#202322;
}
.bodyp{
    font-family: "Instrument Sans", sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 22.56px;
letter-spacing: 0.02em;
max-width: 30ch;
}
.link {
font-size: 12px;
font-weight: 600;
line-height: 12.48px;
letter-spacing: 0.27em;
color:#034A2F;
display: flex;
}
.link span{
  margin:0 14px;
  transition: 0.6s ease all;
}

/* header starts */
.navigation{
     position: fixed;
     background-color: #FAF9F7;
     width:100%;
     z-index: 1;
     transition: 0.6s all ease;
     z-index: 999999;
}
.navigation.backdrop{
  box-shadow: 0 1px 6px 0 rgba(0,0,0,0.2)
}
.logo{
    font-family: 'Gambarino-Regular' ;
font-size: 28px;
font-weight: 400;
line-height: 34.16px;
letter-spacing: 0.02em;
color:#212121;
}
.nav-list li a{
    font-size: 14px;
    font-weight: 400;
    line-height: 14.56px;
    letter-spacing: 0.05em;
    color:#555555;
}
 .inner-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FAF9F7;
} 
.nav-list li:hover .nava{
    transition: 0.6s ease all;
    color:#034A2F;
    text-decoration: underline;
}
.coloured {
    background-color: #034A2F;  
    display: inline-block;
    color:#fff;
    transition: 0.6s ease all;
}

 .nav-list{
    column-gap: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #faf9f7;
} 
.nav-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 80px;
} 
.arrow{
    padding:6px;
}
.dropdownlist{
    position: relative;
    padding: 24px 0;
    cursor: pointer;
}
.dropdowns{
  position: absolute;
  width: max-content;
  top: 72px;
  left: 0;
  background: #FAF9F7;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 55px;
  padding: 48px 40px;
  opacity: 0; 
  transform: translateY(-100%);
  transition: 0.2s all ease;
  box-shadow: 0px 3px 5px 0px #A0998A5E;
  overflow: hidden;
  z-index: -1;
}
.dropdownlist:hover .dropdowns{
  transition: 0.4s all ease;
  transform: translateY(0%);
  opacity: 1;
}
.drophead{
    color:#BFBFBF   
}
.droplist li a{
font-size: 14px;
font-weight: 400;
line-height: 20.86px;
letter-spacing: 0.05em;
color:#034A2F
}
.dropdownlist:hover .arrow{
    transition: 0.4s ease all;
    rotate:180deg;
}
.soldrop{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 36px;
}
.droplist ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 28px;
}
.droplist li:hover a{
    transition: 0.6s ease all;
    text-decoration: underline;   
}
.solline{
    border: 1px solid #F5F2EC;
    height: 225px;
}
.rdrop{
  width: max-content;
  padding: 49px 40px;
  padding-right: 163px;
}
.custom-button.coloured:hover{
  background-color: #4CCC9B;
  color:#034A2F;
  border:1px solid transparent;
}

/* hamburger menu */
.sidenav{
    display: none;
    background-color: #FAF9F7;
    padding: 16px 0;
}
.ham-menu {
    display: inline-block;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 37px;
    height: 3px;
    background-color: #034A2F;
    margin: 9px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    transform: translate(0, 13px) rotate(-45deg);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }
  .change .menu{
    opacity: 1;
    visibility: visible;
  }
  .sidenav-right{
    display: flex;
    justify-content: space-between;
    column-gap: 26px;
    align-items: center;
  }
  .menulist{
    transition: visibility 0.5s ease, opacity 0.5s ease;
  }
  .menulist ul{
    display: flex;
    flex-direction: column;
    row-gap: 36px;
  }
  .menudrop {
position: relative;
  }
  .menudrop a{
    font-family: "Instrument Sans", sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 22.56px;
letter-spacing: 0.02em;
color:#034A2F
  }
  .menu{
    width: 100%;
   height:100vh;
    position: absolute;
    background: #fff;
    top: 78px;
    padding: 44px 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s ease, opacity 0.5s ease;
    overflow: hidden;
    z-index: 999;
  }
  .side-arrow{
    position: absolute;
    right: 0;
    top: 0;
  }
  .mdrop{
    rotate: 180deg;
  }
  .mdb-head{
font-size: 10px;
font-weight: 700;
line-height: 10.4px;
letter-spacing: 0.1em;
color:#C4BDB0;
  }
  .mobile-soldrop{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    row-gap: 40px;
    transition: 0.6s ease all;
    transform: translateX(1100px);
    position: absolute;
    top: 0;
    left: 0;
  }
  .mobiledrop-bottom{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 50px;
  }
  .mdb-part1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 32px;
  }
  .mobile-menu{
    position: relative;
   
  }
  .mobile-rdrop{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    row-gap: 40px;
    transition: 0.6s ease all;
    transform: translateX(1100px);
    position: absolute;
    top: 0;
    left: 0;
  }
  .adrop{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    row-gap: 40px;
    transition: 0.6s ease all;
    transform: translateX(1100px);
    position: absolute;
    top: 0;
    left: 0;
}
  
 /* ham menu */
/* header ends */
/* banner starts */
.head h1{
    font-size: clamp(80px, 8vw, 144px);
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.03px;
    text-transform: capitalize;
    font-family: "Gambarino-Regular";
    width: max-content;
    z-index: 2;
    position: relative;
    color: #212121;
}
  .sub-head h2{
      font-size: 96px;
      line-height: 100%;
      letter-spacing: -0.07px;
      color: #90B180;
      text-transform: capitalize;
      font-family: "Inter", sans-serif;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-weight: 400;
  }
  .sub-head h2.mob-display{
    display: none;
  }
  .ban-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    inset: 0;
}

.ban-img{
    position: relative;
    padding-top: 6.5%;
    width: 140px;
    z-index: 1;
    margin: 0px 20px;
}
.banner-wrapper{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    height: 100%;
}
.banner-color{
  width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    background: #034A2F;
    z-index: -1;
}
section.banner-home{
  height: 100vh;
  min-height: 700px;
  padding-top: 90px;
  overflow: hidden;
}
section.banner-home .container{
  height: 100%;
}
.banner-right{
  align-self: flex-end;
  width: 20%;
  margin-bottom: 50px;
}
.bbr-bottom{
  display: flex;
  align-items: flex-start;
  gap: 12px;
  margin-top: 22px;
}
.banner-left{
  flex-direction: column;
  display: flex;
  justify-content: space-between;
/* row-gap: 158px; */
  width: 80%;
}
.container-fluid{
  padding: 0px 5%;
}
.banner-home .container-fluid{
  height: 100%;
}
.banner-home .custom-button{
  margin-top: 40px;
}
.ban-para{
  max-width: 70ch;
}
.bl-bottom{
  padding-bottom: 64px;
}
.mobile-sub-head h2{
  display: none;
}
  /* banner ends */
/* segment starts */
.ellipse{
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 50%;
  background: #7A9D69;
  padding: 3px;
  flex-shrink: 0;
}
.segment-in{
  background-color:#D3E4CB;
}
.segment-list{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* column-gap: 82px; */
  padding:23px 0;
}
.segment-list .segli{
  color: #7A9D69;
  font-weight: 800;
}
.mobile-segment-list{
  display: none;
}
.bx-wrapper{
  max-width: 100% !important;
    background: #D3E4CB;
    border: none;
    box-shadow: none;
    margin: 0;
}
.tick-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
}
ul.bxslider li .segli{
  width: max-content;
  text-wrap: nowrap;
}
.bx-viewport{
  height: 100% !important;
}
/* segment ends */
/* accomplishment starts */
.acctop span{
  font-family: 'Gambarino-Regular';
font-size: 69.71px;
font-weight: 400;
line-height: 130%;
letter-spacing: 0.01em;
color:#034A2F;
text-align: center;
}
.acctop {
  font-family: 'Gambarino-Regular';
    font-size: 34px;
    font-weight: 400;
    line-height: 35.7px;
    letter-spacing: 0.01em;
    text-align: center;
    color:#034A2F;
    font-family: "Gambarino-Regular";
    display: flex;
    align-items: baseline;
    justify-content: center;
}
.acctop img{
  padding-right: 8px;
}
.accbottom{
text-align: center;
color:#034A2F;
}
.accomplishment-in{
    background: #F4F2EC;
}
.inner-acc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 81px;
    padding: 60px 0;
}
.acc-top{
  color:#A59F8F;
}
.acc-bottom{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   column-gap: 110px;
}
/* accomplishment ends */
/* solutions starts */
.st-top{
  color:#BFBFBF;
}
.st-bottom p{
  max-width: 50ch;
  color: #272424;
}
.inner-soltop{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 39px;
}
.no{
  font-family: "Instrument Sans", sans-serif;
font-size: 27.05px;
font-weight: 400;
line-height: 28.13px;
letter-spacing: -0.03em;
}
.program-head{
  display: flex;
    justify-content: space-between;
}
.program-no{
  display: flex;
  align-items: flex-end;
  column-gap: 22px;
}
.program-top p{
  color:#555555;
  max-width: 52ch;
}
.program-top{
  display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 32px;
}
.inner-sol{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 120px;
  
}

.tick{
  background: #E4D19F;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 14px;
  height: 14px;
}
 .pcontent p{
color:#555555;
max-width: 25ch;
}
.pg-button{
  margin-top: 68px;
}
.point{
  display: flex;
  align-items: flex-start;
  column-gap: 22px;
}
.sol-points{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 36px;
}
 .solimg img{
  width: 100%;
  height: 100%;
  object-fit: cover;
} 
.graphcont p{
font-size: 18px;
font-weight: 400;
line-height: 21.96px;
letter-spacing: -0.03em;
text-align: center;
color:#034A2F;
margin-left: auto;
margin-right: auto;
}
.graphcont{
  background-color: #E0ECE7;
  padding: 36px 26px;
}
 .sbb-left{
  width: 40%;
    margin-right: auto;
    height: 100%;
 }
 .sbb-right{
  display: flex;
  align-items: stretch;
  gap:20px;
  margin-left: auto;
  width:60%;
} 
 .sbbr-left{
  display: flex;
  flex-direction: column;
  row-gap: 11px;
  width: 50%; 
 }
 .sbbr-right{
  width:50%;
  height: 100%;
} 
 .solimg{
   position: relative;
   padding-top: 100%;
   height: 100%;
} 
 .solimg img{
  width:100%;
  height: 100%;
  object-fit: cover;
position: absolute;
inset: 0;
} 
.program-bottom{
  display: flex;
}
/* .program-bottom{
  display: flex;
    padding-left: 40px;
    /* column-gap: 129px; *
} */

 .program{
  background: #F4F2EC;
  padding: 2px 40px;
  padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 52px;
    padding-top:60px;
}  
 .program2{
  background: #EBF3E7;
  margin-top:20px;
} 
.graph2{
  background: #F7F3E8 ;
}
 .solgraph{
  position: relative;
  padding-top: 100%;
} 
 .solgraph img{
  width:100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  inset:0;
} 
 .solbottom{
  position: sticky;
  top: 0px;
 }  
 .inner-solbottom{
  position: relative;
 } 
/* solutions ends */
/* Work starts */
.work {
  position: relative;
  height: 100vh;
}
.pinned .work-line {
  background-color: blue; 
}
.work-top p{ 
 max-width: 46ch;
 }
 .work-top{
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     row-gap: 40px;
 }
 .rule-top{
  font-family: 'Gambarino-Regular';
 font-size: 49px;
 font-weight: 400;
 line-height: 50.96px;
 /* color:#B1B1B1; */
 }
 .ruleb1{
  color:#212121;
 }
 .ruleb2{
     color:#555555;
 }
 .rule{
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     row-gap: 40px;
     opacity: 0.6;
     transition: 0.6s all ease;
 }
 .rule-bottom{
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     row-gap: 24px;
 }
 .wb-centre{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
      column-gap: 141px; 
 }
 .inner-work{
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     row-gap: 102px;
 }
 .work-bottom{
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     row-gap: 80px;
 }
 .work-line{
    height: 1px;
    width: 75%;
    position: relative;
    background-color: #CCC;
 }
 .work-ellipse1{
    border: 1px solid transparent;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    width: 24px;
    height: 24px;
    top: -12px;
    left: -1px;
    background: #ccc;
    z-index: 2;
    transition: 0.6s all ease;
 }
 .work-ellipse1.active{
  background-color: #AAC4EB;
  box-shadow: rgb(170 196 235) 0 0 24px 12px
 }
 .work-ellipse2.active{
  background-color: #034A2F;
  box-shadow: #034A2F 0 0 24px 12px;
 }
 .work-ellipse3.active{
  background-color: #ECCEC0;
  box-shadow: #ECCEC0 0 0 24px 12px;
 }
 .work-ellipse2{
  border: 1px solid transparent;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    width: 24px;
    height: 24px;
    top: -12px;
    left: 49%;
    background: #ccc;
    z-index: 2;
    transition: 0.6s all ease;
 }
 .work-ellipse3{
  border: 1px solid transparent;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    width: 24px;
    height: 24px;
    top: -12px;
    left: 99%;
    background: #ccc;
    z-index: 2;
    transition: 0.6s all ease;
 }
 .line-fill{
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: 1;
 }
 .line-fill-wrap{
  position: relative;
  height: 100%;
  display: flex;

 }
 .line-fill-wrap .lf{
  height: 100%;
 }
 .line-fill-wrap .lf.one{
  background-color: #87A6D4;
 }
 .line-fill-wrap .lf.two{
  background-color: #055627;
 }
  
 /* Work Ends */
/* stories starts */
.mobile-stories-bottom{
  display: none;
}
.stars{
  display: flex;
    gap: 4px;
}
.stories-in{
  display: flex;
    flex-direction: column;
    row-gap: 80px;
}
.stories-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.story-bottom{
color:#9E9D9A;
display: flex;
justify-content: space-between;
}
.story-top-top{
  display: flex;
  position: relative;
}
.story-top{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 24px;
}
.inner-story{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 98px;
}
  .stories-bottom{
  display: flex;
  justify-content: space-between;
}  
.story-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 17px;
}
.story-top-left h1{
  color:#202322;
}
.story-content h3{
  transition: 0.6s ease all;
}
.story-content p{
  transition: 0.6s ease all;
  color:#555555;
}
.story-bottom-left , .story-bottom-right{
  transition: 0.6s ease all;
}
.link-arrow{
  transition: 0.6s ease all;
}
.link-arrow img{
  transition: 0.6s ease all;
    width: 13px;
    height:13px;
}
.inner-stories{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 80px;
}
.story{
  flex: 0 0 48%;
  border: 1px solid #E8E8E8;
  padding: 28px 52px 20px 25px;
  transition: 0.6s ease all;
  /* padding: 28px 34px 20px 34px; */
}
.link-arrow{
  background-color: #034A2F;
  border-radius: 50%;
  width: 37px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right:0;
  top:0;
  flex-shrink: 0;
}
.story:hover{
  background: #034A2F;
}
.story:hover .story-content h3 {
  color: #fff;
}
.story:hover .story-content p{
  color: #fff;
}
.story:hover .story-bottom-left {
  color: #98B2A9;
}
.story:hover  .story-bottom-right{
  color: #98B2A9;
}
.story:hover .link-arrow{
  background-color: #fff;
}
.story:hover .link-arrow img{
  filter: brightness(0);
}
.splide__arrow--prev {
  display: none;
}
.splide__arrow--next {
  display: none;
}
.mobile-stories-bottom .splide__pagination__page.is-active {
  background: #034A2F;
}
.mobile-stories-bottom .splide__pagination {
  bottom: -2.5em;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #034A2F;
}
.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  display: block;
  transition: opacity .2s ease;
  border-radius: 30px;
}
/* stories ends */
/* Blog Page starts */
.blog-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog-top-left{
  max-width: 41ch;
}
.blog-top-left h1{
  color:#202322;
}
.blog1 {
  display: inline-flex;
  flex-direction: column;
  height: 100%;
}
.blogimg{
 position: relative;
 padding-top: 50%;
 overflow: hidden;
}
.blogimg img{
  width: 100%;
  height:100%;
  object-fit: cover;
  position: absolute;
  inset:0;
  transition: 0.6s ease all;
}
.blog1-bottom{
  height: calc(100% - 205px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.blog-head p{
  color:#8B8B8B;
  max-width: 33ch;
}
.blog-label{
  margin: 22px 0;
    border-radius: 16px;
    padding: 8px 16px;
    display: inline-block;
}
.bloghead{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  row-gap: 16px;
  height: 100%;
}
.bloghead p{
  color:#8B8B8B;
}
.blog-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 33px;
}
.blog-bottom{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  column-gap: 22px;
}
.inner-blog{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 70px;
}
.blog-bottom .blog1:nth-child(3n+1) .blog-label {
  background-color: #BCD7F0;
}

.blog-bottom .blog1:nth-child(3n+2) .blog-label {
  background-color: #EEBCAC;
}

.blog-bottom .blog1:nth-child(3n+3) .blog-label {
  background-color: #AEC3A3;
}
.blog .blog-label{
  background-color: #BCD7F0;
}
.blog2 .blog-label{
  background-color: #EEBCAC;
}
.blog3 .blog-label{
  background-color: #AEC3A3;
}
.mobile-blog-bottom{
  display: none;
}
.mobile-blog-bottom .blog1{
  padding:0 10px;
}
.blog1:hover .link span{
  transform: translateX(10px);
}
.blog1:hover .blogimg img{
  transform: scale(0.9);
}
/* Blog Page Ends */
/* faq page starts */
.inner-faq{
  position: relative;
}
.faq-left{
  width: 40%;
  margin-right: auto;
  position: absolute;
    height: 100%;
}
.faq-img{
position: relative;
padding-top: 100%;
height:100%;
}
.faq-img img{
  width: 100%;
  height:100%;
  object-fit: cover;
  position: absolute;
  inset:0;

}
.faq-right{
  width: 100%;
  height: 100%;
 position: relative;
}
.inner-faq-right{
  width: 55%;
  margin-left: auto;
  position: relative;
  display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 84px;
}
.faq-right-top{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 71px;
}
.faq-head h1{
  max-width: 14ch;
  color:#202322;
}

.acc-tittle{
  display: flex;
    justify-content: space-between;
    align-items: center;
}
.acc-para p{
  max-width: 58ch;
  padding-top: 18px;
    padding-bottom: 24px;
    color:#6B6B6B;
}

.accrodion-container.active .toggle {
padding-bottom: 0;
}
.accrodion-container{
  display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* row-gap: 18px; */
    border-bottom: 1px solid #D9D9D9;
    /* padding-bottom: 24px;
    padding-top: 24px; */
}
.toggle{
  padding: 24px 0;
  transition: 0.6s all ease;
}
.faq-arrow{
  transition: 0.6s ease all;
}
.accrodion-container:hover {
  background-color: rgba(217, 227, 212, 0.26);
}
.accrodion-container.active:hover {
  background-color: transparent;
}
.accrodion-container.open:hover {
  background-color: transparent;
}
.accrodion-container.active .faq-arrow {
  transform: rotate(180deg);
}
/* faq page ends */
/* pre-footer starts */
.pf-left-top h2{
  font-family: "Inter", sans-serif;;
    font-size: 96px;
    font-weight: 400;
    line-height: 96px;
    letter-spacing: -0.07em;
  color:#fff;
  max-width: 16ch;
}
.inner-pre-footer{
  background-color: #A9C2E5;
  position: relative;
  /* overflow: hidden; */
}
 .inner-pf-left{
   display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 80px;
    width: 60%;
    margin-right: auto;
} 
 .pf-left{
  width: 100%;
  height: 100%;
   position: absolute;
  top: 0;
  left: 0; 
  display: flex;
  align-items: center;
  justify-content: center;
} 
 .pf-right{
     position: relative; 
    width: 35%;
    margin-left: auto;
} 
.pf-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  inset: 0;
}
.pf-img{
  position: relative;
    padding-top: 100%;
}
/* pre-footer ends */
/* footer starts */
.logo-white{
  color:#F4F2EC;
}
.footer-in{
  background-color: #034A2F;
  position: relative;
}
.footer-line1{
  width: 100%;
    border: 1px solid #547468;
    position: absolute;
    top: 66px;
}
.footer-line2{
  width: 100%;
    border: 1px solid #547468;
    position: absolute;
    top: 402px;
}
.footer-line3{
  width: 100%;
  border: 1px solid #547468;
  position: absolute;
  top: 402px;
}
.inner-footer{
  padding-top: 24px;
    padding-bottom: 46px;
}
.fc-item{
  display: flex;
    flex-direction: column;
    row-gap: 22px;
}
.fc-list{
  display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 16px;
    padding-bottom: 2px;
    max-width: 18ch;
}
.fc-list li a:hover{
  border-bottom: 1px solid;
}
.footer-label{
color:#339C74;
}
.fc-list li a{
color:#fff;
transition: 0.6s ease all;
}
.formcontainer .name{
  position: relative;
  display: inline-block;
 }
 
 .formcontainer .name input {
  width: 313px;
   padding: 10px 0;
   background-color: #034A2F;
   color:#fff;
   /* margin-bottom: 30px; */
   border:none;
   border-bottom: 1px solid #fff;
 }
 .formcontainer .pp-check input{
  background-color: #034A2F;
 }
.formcontainer .pp-check label{
  font-family: "Instrument Sans", sans-serif;
font-size: 10px;
font-weight: 400;
line-height: 15px;
letter-spacing: 0.02em;
max-width: 44ch;
color:#fff;
}
.formcontainer .pp-check label a{
  font-family: "Instrument Sans", sans-serif;
font-size: 10px;
font-weight: 600;
line-height: 15px;
letter-spacing: 0.02em;
padding-bottom: 2px;
    border-bottom: 1px solid;
    color:#fff;
}
.pp-check{
  display: flex;
 column-gap: 12px; 
    align-items: flex-start;
}
.formcontainer {
  row-gap: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
 .footer-center{
  display: flex;
    justify-content: space-between;
 }
 .fc-left{
  display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 62px;
 }
 .arrow-svg{
  position: absolute;
    bottom: 11px;
    right: 0;
 }
 .fc-right-top{
  display: flex;
    flex-direction: column;
    row-gap: 23px;
 }
.fc-right-bottom{
  column-gap: 40px;
    display: flex;
}
.fc-right{
  display: flex;
    flex-direction: column;
    row-gap: 71px;
}
.fcrb-left{
  display: flex;
    flex-direction: column;
    row-gap: 23px;
}
.fcrb-right{
  display: flex;
    flex-direction: column;
    row-gap: 23px;
}
.social-icons{
  display: flex;
    column-gap: 8px;
}
.c{
  color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    display: inline-flex;
    width: 14px;
    height: 14px;
    padding-left: 3px;
    padding-bottom: 1px;
    align-items: center;
}
.footer-content{
  color: #fff;
    display: flex;
}
.footer-bottom-left{
  display: flex;
    column-gap: 8px;
    align-items: center;
}
.footer-bottom-list ul{
  display: flex;
  column-gap: 51px;
}
.footer-bottom-list ul li a{
  color:#fff;
}
.footer-bottom{
  display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-content2{
  margin: 0 8px;
}
.footer-content3 a{
  color:#fff;
}
.inner-footer{
  display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 52px;
}
/* silent killer starts */
.inner-silent{
  width: 100%;
}
.sr-bottom a {
  color: #FFFFFF;
  padding-bottom: 2px;
  border-bottom: 1px solid #FFFFFF;
}
 .sr-top{
     max-width: 45ch;
 }
 .silent-in{
  display: flex;
  padding-top: 151px;
  padding-bottom: 182px;
  padding-left: 104px;
 }
 .silent-right{
     display: flex;
     flex-direction: column;
     row-gap: 112px;
     width: 50%;
    margin-left: auto;
 }
 .silent-left{
  width:30%;
 }
/* silent killer ends */






 
/* footer ends */









/* Responsive Css Starts */
/* Max Width 1800px */
@media(max-width: 1800px){
}
/* Max Width 1800px Ends */
/* Max Width 1700px */
@media(max-width: 1700px){
}
/* Max Width 1700px Ends */
/* Max Width 1600px */
@media(max-width: 1600px){
}
/* Max Width 1600px Ends */
/* Max Width 1500px */
@media(max-width: 1500px){
}
/* Max Width 1500px Ends */
/* Max Width 1400px */
@media(max-width: 1400px){
  .sub-head h2 {
    font-size: 80px;
  }
}
/* Max Width 1400px Ends */
/* Max Width 1300px */
@media(max-width: 1300px){
  
}
/* Max Width 1300px Ends */
/* Max Width 1200px */
@media(max-width: 1200px){
  .blogimg{
    height: 198px;
  }
  .acc-bottom{
    column-gap: 50px;
  }
  .pf-left{
    position: relative;
  }
  .pf-right {
    position: absolute;
    right: 0;
    bottom: 0;
}
.inner-pre-footer {
  padding: 100px 0;
}
section.banner-home {
background-color: #FAF9F7;
}
.sub-head h2 {
  font-size: 65px;
}
.banner-color{
  display: none;
}
}
/* Max Width 1200px Ends */
/* Max Width 1100px */
@media(max-width: 1100px){
}
/* Max Width 1100px Ends */
/* Max Width 991px */
@media(max-width: 991px){
.navigation{
    display: none;
}
.sidenav{
  display: block;
}
.inner-pf-left{
  width: 100%;
  margin-right: 0;
}
.pf-right{
  display: none;
}
 .footer-center{
  row-gap: 120px;
    flex-direction: column;
} 
.footer-line2{
  top: 325px;
}
.footer-line3{
  top: 685px;
}
.formcontainer .name input {
  width:100%;
}
.fc-right-bottom{
  justify-content: space-between;
}
.sub-head h2.mob-display{
  display: block;
}
.sub-head h2.mob-none{
  display: none;
}
.segment-list{
  display: none;
}
.mobile-segment-list{
  display: block;
  padding: 19px 0;
}
.acc-bottom{
  grid-template-columns: 1fr;
    row-gap: 59px;
}
.stories-bottom{
  display: none;
}
.mobile-stories-bottom{
  display: block;
}
.story-bottom{
  justify-content: space-between;
}
.wb-centre {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-around;
  row-gap: 50px;
}
.blog-bottom{
  display: none;
}
.mobile-blog-bottom{
  display: block;
  margin-left: 47px;
}
.blog-in{
  display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 71px;
}
.blog1{
  width: 100%;
}
.story{
  margin-left: 13px;
}
.faq-left {
  width: 100%;
  position: relative;
}
.faq-img {
  padding-top: 50%;
}
.inner-faq-right {
  width: 100%;
  margin-left: 0;
}
.faq-right-top {
  row-gap: 42px;
}
.inner-faq {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 26px;
}
.program-bottom {
  flex-direction: column;
  row-gap: 40px;
}
.sbb-left {
  width: 100%;
  margin-right: 0;
}
.sbb-right {
  margin-left: 0;
  width: 100%;
  flex-direction: column;
}
.bodyp{
  max-width: 100%;
}
.inner-work{
  row-gap: 72px;
}
.work{
  height: 100%;
}
.program2{
  margin-top: 70px;
}
.work-bottom{
  justify-content: flex-start;
}
.work-line, .wb-top{
  display: none;
}
.sbbr-left{
  width: 100%;
}
.sbbr-right{
  width: 100%;
}
.footer-bottom {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.footer-bottom-center{
  order: -1;
  margin-left: auto;
    margin-right: auto;
}
.banner-left {
  width:100%;
  row-gap: 80px;
  justify-content: flex-start;
}
.banner-right{
  width: 100%;
}
.banner-wrapper {
  flex-direction: column;
}
section.banner-home{
  padding-top: 30px;
  height: 100%;
  min-height: 100%;
  padding-bottom: 30px;
}
.bl-bottom {
  padding-bottom: 96px;
}
.banner-right{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0;
}
.silent-in{
  padding-left: 0;
}
.silent-right{
  width: 60%;
}
.solbottom{
  position: static;
}
.formcontainer .pp-check label {
  max-width: 100%;
}
}
/* Max Width 991px Ends */
/* Max Width 767px */
@media(max-width: 767px){
  .fc-left{
    grid-template-columns: repeat(2, 1fr);
    row-gap: 48px;
  }
  .footer-line2{
    top: 475px;
  }
  .footer-center {
    row-gap: 85px;
  }
  .label1{
font-size: 14px;
line-height: 17.08px;
  }
  .label2{
    font-size: 8px;
  }
  .label3{
font-size: 12px;
line-height: 16.92px;
  }
  .statement2{
font-size: 17px;
line-height: 22.1px;
  }
  .bodyp{
font-size: 12px;
line-height: 16.92px;
  }
  h1{
font-size: 32px;
line-height: 40px;
  }
h3{
  font-size: 14px;  
  line-height: 18.2px;
  }
  h4{
font-size: 16.63px;
line-height: 17.3px;
  }
  .qh1{
line-height: 21.96px;
  }
  .acctop {

    font-size: 25.29px;
    line-height: 26.55px;
}
.acctop span{
font-size: 51.85px;
line-height: 54.44px;
}
  .silent-in{
    flex-direction: column;
    row-gap: 140px;
    padding: 132px 0;
    padding-left: 30px;
  }
  .silent-left{
    width: 100%;
  }
  .silent-right{
    margin-left: 0;
    width: 100%;
    row-gap: 48px;
  }
  .sub-head h2 {
font-size: 35px;
line-height: 53.41px;
  }
  .sub-head h2{
    display: none;
   }
   .mobile-sub-head h2{
    display: block;
   }
}
@media(max-width: 500px){
 
 .head h1 {
  font-size: clamp(65px, 8vw, 144px);
 }
}
@media(max-width: 370px){
  .head h1 {
    font-size: clamp(60px, 8vw, 144px);
   }
  }

/* Max Width 767px Ends */
/* Responsive Css Ends */
